<a href="https://colab.research.google.com/github/librairy/EQAKG/blob/main/test/MuHeQA_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

pd.set_option('max_colwidth', 400)

# VQuAnDa

In [2]:
# read csv file
results = pd.read_csv("https://raw.githubusercontent.com/librairy/EQAKG/main/test/VQuAnDa/results/VQuanda.csv", header = 0, encoding = "utf-8", sep=";")

# display DataFrame
print(results.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 871 entries, 0 to 870
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Question                871 non-null    object
 1   Answer                  871 non-null    object
 2   Response                868 non-null    object
 3   Levenshtein Distance    871 non-null    int64
 4   BLEU Score (SacreBleu)  871 non-null    float64
 5   BLEU Score (ntlk)       871 non-null    float64
 6   Meteor Score            871 non-null    float64
 7   EM Score                871 non-null    int64
 8   Query Time              871 non-null    float64
 9   Text Length             871 non-null    int64
 10  Is Answered             871 non-null    object
dtypes: float64(4), int64(3), object(4)
memory usage: 75.0+ KB
None

In [3]:
results.describe()

,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length
count,871.000000,871.000000,8.710000e+02,871.000000,871.000000,871.000000,871.000000
mean,2352.009185,15.085519,1.664119e+01,0.059701,0.115959,142.579782,523.895522
std,3636.544081,32.877870,3.415201e+01,0.162224,0.320359,134.471981,246.946645
min,0.000000,0.000000,0.000000e+00,0.000000,0.000000,12.790000,0.000000
25%,300.000000,0.000000,1.059404e-229,0.000000,0.000000,50.300000,367.000000
50%,1100.000000,0.000000,2.529008e-153,0.000000,0.000000,97.960000,516.000000
75%,2700.000000,2.057684,1.630987e+00,0.000000,0.000000,180.030000,676.000000
max,27500.000000,100.000000,1.000000e+02,0.500000,1.000000,790.810000,1806.000000

In [4]:
results[results['BLEU Score (SacreBleu)'] == 0.0]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
0,Count the number of people became famous for when Andrew Jackson was a commander ?,8,3,100,0.0,0.000000e+00,0.0,0,16.74,844,YES
2,List all the faiths that British Columbian politicians follow?,"anglican, anglicanism, catholic church, united church of canada, fellowship of evangelical baptist churches in canada, mennonite brethren church, story.html, sikh, roman catholic",green,17300,0.0,1.179847e-167,0.0,0,258.25,335,YES
4,In which cities can the beverage related to Barq's be found?,"jasper, indiana, indiana",pakistan,1900,0.0,1.154979e-153,0.0,0,285.63,428,YES
5,Trainees at the national film school of Lodz have received what awards?,"poland, szczecin, order of polonia restituta, biennale of polish photography, academy awards",jowonder,8600,0.0,1.806961e-80,0.0,0,283.81,742,YES
6,Give me the count of all people who ascended a peak in California?,65,2,200,0.0,0.000000e+00,0.0,0,678.84,753,YES
...,...,...,...,...,...,...,...,...,...,...,...
864,Where does John A Danaher III work?,"47, connecticut, commissioner, department of public safety",covenant college,4800,0.0,4.106856e-77,0.0,0,102.48,692,YES
865,What magazine is Marritt Cabal known for and is the publisher of Lucifer's Hammer?,playboy,church of satan,1400,0.0,1.100888e-229,0.0,0,109.08,637,YES
866,How many religion's people have died in Malaysia?,30,1,200,0.0,0.000000e+00,0.0,0,98.25,680,YES
868,Which uni did Joshua A. Siegel attend ?,"chicago, northwestern university, university at buffalo",carpark north,4700,0.0,1.832090e+00,0.0,0,96.49,257,YES
870,List the work institutions of the medicians who has also worked at University of Miami?,"tulane university, baylor college of medicine, *, university of miami",leonard m. augustine for health sciences,5500,0.0,2.117731e-76,0.0,0,136.92,1204,YES

In [5]:
#preguntas cuya respuesta sea numerica
numbers = results[results['Answer'].str.isnumeric()]

numbers

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
0,Count the number of people became famous for when Andrew Jackson was a commander ?,8,3,100,0.0,0.000000e+00,0.0,0,16.74,844,YES
6,Give me the count of all people who ascended a peak in California?,65,2,200,0.0,0.000000e+00,0.0,0,678.84,753,YES
8,List the total number of executive producer of TV show which have one of the executiive producer as Steven Moffat ?,173,1,200,0.0,2.465581e-230,0.0,0,458.29,626,YES
16,Estimate the number of sports divisions at the universities under international association of universities.,44,1,200,0.0,0.000000e+00,0.0,0,36.77,686,YES
17,How many universities participate in the NCAA Division I Football Bowl Subdivision?,26,1,200,0.0,0.000000e+00,0.0,0,30.72,905,YES
...,...,...,...,...,...,...,...,...,...,...,...
845,How many other important things has the painter of Sarah Jane Adventures done?,9,2,100,0.0,0.000000e+00,0.0,0,117.62,700,YES
849,How many places were ruled by Elizabeth II?,52,1,200,0.0,0.000000e+00,0.0,0,82.55,518,YES
858,For how many movies are there whose musicians home town is in Volos ?,18,1,100,0.0,6.702145e-230,0.0,0,52.37,343,YES
859,How many groups speak the English Language?,133,1,200,0.0,2.465581e-230,0.0,0,202.95,573,YES
866,How many religion's people have died in Malaysia?,30,1,200,0.0,0.000000e+00,0.0,0,98.25,680,YES

In [6]:
rightNumbers = numbers[numbers['BLEU Score (SacreBleu)'] != 0]

In [7]:
rightNumbers

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
145,How many cities are around the sea into which the aegean sea flows?,13,13,0,100.0,1.491668e-152,0.5,1,29.31,654,YES

In [8]:
import requests

queryURL = "http://localhost:5000/eqakg/dbpedia/en?text=true"

In [9]:
for counter,i in enumerate(rightNumbers['Question']):
    if counter > 19:
        break

    files = {
        'question': (None, i),
    }

    response = requests.get(queryURL, files = files)
    print("Question:", i)
    print("Answer before conversion: ", (response.json())['answer-2'])
    print("Generated text: ", (response.json())['text'])

Question: How many cities are around the sea into which the aegean sea flows?
Answer before conversion:  The cities of aegean sea is Alexandroupoli, Athens, Ayvalık, Bodrum, Didim, Heraklion, Kavala, Kuşadası, Thessaloniki, Volos, Çanakkale, Çeşme, İzmir
Generated text:    The islands of aegean sea is 150.   The country of aegean sea is Bulgaria, Greece, North Macedonia, Serbia, Turkey.   The cities of aegean sea is Alexandroupoli, Athens, Ayvalık, Bodrum, Didim, Heraklion, Kavala, Kuşadası, Thessaloniki, Volos, Çanakkale, Çeşme, İzmir.   The alt of aegean sea is Location of the Aegean Sea.   The max-depth of aegean sea is 3,544 m.   The basin countries of aegean sea is Greece, Turkey; North Macedonia, Serbia, Bulgaria.   The island of aegean sea is Aegean Islands.   The inflow of aegean sea is Gulf of İzmir.   The outflow of aegean sea is Mediterranean Sea.   The river mouth of aegean sea is Büyük Menderes River

In [10]:
wrongNumbers = numbers[numbers['BLEU Score (SacreBleu)'] == 0]

In [11]:
wrongNumbers

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
0,Count the number of people became famous for when Andrew Jackson was a commander ?,8,3,100,0.0,0.000000e+00,0.0,0,16.74,844,YES
6,Give me the count of all people who ascended a peak in California?,65,2,200,0.0,0.000000e+00,0.0,0,678.84,753,YES
8,List the total number of executive producer of TV show which have one of the executiive producer as Steven Moffat ?,173,1,200,0.0,2.465581e-230,0.0,0,458.29,626,YES
16,Estimate the number of sports divisions at the universities under international association of universities.,44,1,200,0.0,0.000000e+00,0.0,0,36.77,686,YES
17,How many universities participate in the NCAA Division I Football Bowl Subdivision?,26,1,200,0.0,0.000000e+00,0.0,0,30.72,905,YES
...,...,...,...,...,...,...,...,...,...,...,...
845,How many other important things has the painter of Sarah Jane Adventures done?,9,2,100,0.0,0.000000e+00,0.0,0,117.62,700,YES
849,How many places were ruled by Elizabeth II?,52,1,200,0.0,0.000000e+00,0.0,0,82.55,518,YES
858,For how many movies are there whose musicians home town is in Volos ?,18,1,100,0.0,6.702145e-230,0.0,0,52.37,343,YES
859,How many groups speak the English Language?,133,1,200,0.0,2.465581e-230,0.0,0,202.95,573,YES
866,How many religion's people have died in Malaysia?,30,1,200,0.0,0.000000e+00,0.0,0,98.25,680,YES

In [12]:
for counter,i in enumerate(wrongNumbers['Question']):
    if counter > 19:
        break

    files = {
        'question': (None, i),
    }

    response = requests.get(queryURL, files = files)
    print("Question:", i)
    print("Answer before conversion: ", (response.json())['answer-2'])
    print("Generated text: ", (response.json())['text'])

Question: Count the number of people became famous for when Andrew Jackson was a commander ?
Answer before conversion:  The Navy of Andrew Jackson is John Branch, Levi Woodbury, Mahlon Dickerson
Generated text:    The description of Andrew Jackson is BEP engraved portrait of Jackson as president.   The term start of Andrew Jackson is June 1798.   The cHeight of Andrew Jackson is 250.   The Post start of Andrew Jackson is 1829, 1835.   The name of Andrew Jackson is 1824 United States presidential election, 1828 United States presidential election, 1832 United States presidential election, Andrew Jackson 1828 presidential campaign, Electoral history of John Quincy Adams.   The award of Andrew Jackson is Congressional Gold Medal, Thanks of Congress.   The Navy of Andrew Jackson is John Branch, Levi Woodbury, Mahlon Dickerson.   The footer of Andrew Jackson is Two daguerreotypes of Jackson, 1844–45, Unknown photographer.   The State start of Andrew Jackson is 1829, 1831, 1833, 1834.   The Vice President end of Andrew Jackson is 1832, 1833, 1837
Question: Give me the count of all people who ascended a peak in California?
Answer before conversion:  11, 42
Generated text:  jpg, SanDiegoSkylineBay. jpg.   The Representative of California is , 11, 42.   The width km of California is 400.   The width mi of California is 250.   The 2000Density of California is 97. 90000000000001.   The area land km of California is 403932.   The area land (m2) of California is 155959000000, 403932000000.   The area water (m2) of California is 20047000000, 7737000000
Question: List the total number of executive producer of TV show which have one of the executiive producer as Steven Moffat ?
Answer before conversion:
Generated text:   Ionescu, Vincent Peranio.   The non-fiction subject of TV is The Monkees: The Day-by-Day Story of the 60s TV Pop Sensation.   The created for of TV is The Fool on the Hill (ballet).   The significant advance of TV is Paul Gottlieb Nipkow.   The literary genre of TV is The Fourth Network.  Seagle, The Fourth Network, Tim Dawson, Tyler Ewing, Télé 7 Jours, Vinton Freedley, Vortis (Doctor Who).   The groups of TV is Lao National Television, National Television of Cambodia.   The children of Steven Moffat is 2.   The occupation of Steven Moffat is Screenwriter and television producer.   The period of Steven Moffat is 1988
Question: Estimate the number of sports divisions at the universities under international association of universities.
Answer before conversion:  The license of sports is CC BY-SA 3. 0 IGO.   The publisher of sports is UNESCO
Generated text:   The license of sports is CC BY-SA 3. 0 IGO.   The publisher of sports is UNESCO.   The author of sports is UNESCO.   The title of sports is Strengthening the rule of law through education: a guide for policymakers.   The source  of sports is UNESCO.   The main interests of sports is Alexey Kylasov.   The genres of sports is The Science of Hitting.   The product of sports is AaB A/S, Bajaj Group, Build-A-Bear Workshop, Capitol Broadcasting Company, Champs Sports, Coast to Coast Tickets, Gemr, Hasnur Group, Historic Dodgertown, JSW Group, KT Corporation, MediaQuest Holdings, Princeton Club, Kolkata, RPSG Group, Rogers Sports & Media.   The specialist of sports is Furness Academy
Question: How many universities participate in the NCAA Division I Football Bowl Subdivision?
Answer before conversion:
Generated text:   The logo of NCAA Division I Football Bowl Subdivision is NCAA_football_icon_logo. svg.   The current season of NCAA Division I Football Bowl Subdivision is 2021.   The founded of NCAA Division I Football Bowl Subdivision is 1978.   The sport of NCAA Division I Football Bowl Subdivision is American football.   The country of NCAA Division I Football Bowl Subdivision is United States.   The tv of NCAA Division I Football Bowl Subdivision is [[#Television.   The teams of NCAA Division I Football Bowl Subdivision is 130.   The subdivision of NCAA Division I Football Bowl Subdivision is American Athletic Conference, Atlantic Coast Conference, Big 12 Conference, Mid-American Conference, Mountain West Conference, Pac-12 Conference, Southeastern Conference, Sun Belt Conference.   The division of NCAA Division I Football Bowl Subdivision is Missouri Valley Conference football, San Jose State Spartans
Question: Count everyone who was in the military unit which is structured like the Marine Aircraft Group 13 ?
Answer before conversion:  Harold E.  Wilson.   The commands of Marine Aircraft Group 13 is Christopher McPhillips, Duane D.  Thiessen, Henry Williams Hise, Robert O.  Bisson
Generated text:   Wilson.   The unit of Marine Aircraft Group 13 is Harold E.  Wilson.   The commands of Marine Aircraft Group 13 is Christopher McPhillips, Duane D.  Thiessen, Henry Williams Hise, Robert O.  Bisson.
Question: How many people play for the Dallas Cowboys?
Answer before conversion:
Generated text:    The ceo of Dallas Cowboys is Stephen Jones (American football).   The image of Dallas Cowboys is Cowboys blue uniform 1960. jpg, Cowboys blue uniform 1964. jpg, Cowboys white uniform 1960. jpg, Cowboys white uniform 1964. jpg, Dallas Cowboys helmet 1960. jpg, Dallas Cowboys helmet 1964. jpg, Dallas Cowboys helmet Back. jpg, Dallas Cowboys helmet Front. jpg
Question: How many ingedients are required to make the Ragout Fin?
Answer before conversion:
Generated text:   The course of Ragout Fin is Entrée.   The type of Ragout Fin is Entrée, Soup.   The main ingredient of Ragout Fin is Veal, sweetbread, calf brain, tongue, bone marrow, chicken breast, fish; vinegar stock or butter; roux, button mushrooms, egg yolks.   The ingredient of Ragout Fin is Agaricus bisporus, Bone marrow, Brain, Butter, Chicken as food, Fish, Roux, Sweetbread, Tongue, Veal, Yolk.   The name of Ragout Fin is Ragout fin.   The image size of Ragout Fin is 250.   The country of Ragout Fin is Berlin, Germany.
Question: How many politicians are there from the city of Ganges?
Answer before conversion:  1, 20191205
Generated text:   The commons of city is Category:Cities.   The image of city is 1, 20191205, Camille Pissarro - Boulevard Montmartre, Spring - Google Art Project. jpg, Fast-Paced Streets of New York City. jpg, Hong Kong Harbour Night 2019-06-11. jpg, Metro de São Paulo, Luz Station, Brazil . jpg, Palace of Westminster from the dome on Methodist Central Hall . jpg, Tokyo Shibuya Scramble Crossing 2018-10-09. jpg.   The perrow of city is 1.   The wikt of city is city
Question: How many movies have their music signed up with Sony Music Entertainment.
Answer before conversion:
Generated text:    The successor of Sony Music Entertainment is American Record Corporation, Sony Urban Music.   The subsidiary of Sony Music Entertainment is Sony Entertainment.   The producer of Sony Music Entertainment is 23 (Rythem album), Del Otro Lado, Mugen Factory, Popjapan. tv, The Best of Judas Priest: Living After Midnight, Utatane.  II, Already Over, Alright (Jamiroquai song), Amaia Montero (album), Amanda Marshall (album), Amandine Bourgeois, Amar pelos dois, Amazing (George Michael song), Amazônia (album), Amor Sin Tiempo, Amor a Medias, Amor de Engaño, Amália Por Cuca Roseta, Amén, Anapnoi Anatoli, Anasol, Andi Deris, Andreas Weise, Andrew W. K. , Bonham (band), Bonita de Más, Booty (C. A. M. Y
Question: Count all the books written by an author buried in the Convent of Barefoot Trinitarians?
Answer before conversion:
Generated text:    The founders of Trinitarians is Saint Felix of Valois, Saint John of Matha.   The headquarters of Trinitarians is General Curia:, PP Trinitari, Piazza Sidney Sonnino, 44, 00153 Roma, Italy.   The membership of Trinitarians is 610, 610 (415 priests).   The name of Trinitarians is Domingo Iturrate Zubero, Elisabeth Canori Mora.   The wstitle of Trinitarians is Trinitarians.   The leader title of Trinitarians is Minister General, Nickname, motto.   The volume of Trinitarians is 27.   The caption of Trinitarians is Emblem of the Trinitarian Order.   The purpose of Trinitarians is To ransom Christian captives.   The image size of Trinitarians is 25
Question: How many people are there whose children died in Indiana?
Answer before conversion:
Generated text:    The sport of Indiana is Basketball.   The anthem of Indiana is On the Banks of the Wabash, Far Away.   The minimum elevation (μ) of Indiana is 97, 97. 536.   The caption of Indiana is 1988 United States presidential debates, 2016 United States presidential debates.   The Flag of Indiana is Flag of Indiana. svg.   The elevation min point of Indiana is Confluence of Ohio River and Wabash River.   The 2010Pop of Indiana is 6785528.   The area water percent of Indiana is 1
Question: How many people have been canonized by Pope Benedict XVI?
Answer before conversion:
Generated text:    The commons of Pope Benedict XVI is y.   The honorific prefix of Pope Benedict XVI is Pope.   The type of Pope Benedict XVI is Pope.   The relstyle of Pope Benedict XVI is Pope Emeritus.   The ordained priest by of Pope Benedict XVI is Michael von Faulhaber.   The notes of Pope Benedict XVI is The coat of arms of Pope Benedict XVI was designed by then Archbishop Andrea Cordero Lanza di Montezemolo  soon after the papal election.  Benedict's coat of arms omitted the papal tiara, which traditionally appears in the background to designate the pope's position as a worldly ruler like a king, replacing it with a simple mitre, emphasising his spiritual authority. .   The place of diaconal ordination of Pope Benedict XVI is Freising Cathedral, Freising.   The rows of Pope Benedict XVI is 2
Question: Players from how many teams have participated in the National Hockey League?
Answer before conversion:
Generated text:    The champion of National Hockey League is , Tampa Bay Lightning.   The tv of National Hockey League is , Canada:, Hockey Night in Canada, International:, List of current National Hockey League broadcasters, NHL Network (U. S.  TV network), NHL on ABC, NHL on ESPN, NHL on Sportsnet, NHL on Turner Sports, TVA Sports, United States:.   The species of National Hockey League is no.   The title of National Hockey League is Bill Daly.   The teams of National Hockey League is 32.   The s of National Hockey League is no.   The m of National Hockey League is no.   The location of National Hockey League is 1974 NHL Amateur Draft, 1975 NHL Amateur Draft, 1976 NHL Amateur Draft
Question: How many organizations work for Environmentalism?
Answer before conversion:  Eleven Eleven Twelve
Generated text:   The main interests of Environmentalism is Dominique Bourg.   The notable ideas of Environmentalism is Henry David Thoreau.   The context of Environmentalism is Convention on Biological Diversity, United Nations Convention to Combat Desertification, United Nations Framework Convention on Climate Change.   The academic discipline of Environmentalism is Ashish Kothari, Gabriel Willow, Jared Diamond, Marilyn Raphael, Sumaira Abdulali.   The type of Environmentalism is Eleven Eleven Twelve Foundation, Haribon Foundation, Philippine Tarsier Foundation.   The architectural style of Environmentalism is Helios House.   The notableIdea of Environmentalism is Henry David Thoreau.   The category of Environmentalism is Earth First! (magazine), Synthesis/Regeneration.   The occupation of Environmentalism is Artemisa Xakriabá, Bill Reid, Carmel Cacopardo, Chico Mendes, Edward Max Nicholson, Einar Håndlykken, Jonathon Porritt, Juan Carlos Navarro (politician), Kingsley Kuku, Lois Gibbs, Mark Dubois, Max Bird (French comedian), Nnimmo Bassey, Norman Livermore, Richard M.  Leonard, Severn Cullis-Suzuki, Sunita Narain, Swami Jitendranand Saraswati, Tzeporah Berman, William Siri
Question: How many developers make software for Unix like operating systems?
Answer before conversion:
Generated text:    The b of Unix is Guide to Unix.   The d of Unix is y.   The direction of Unix is vertical.   The wikt of Unix is Unix.   The caption of Unix is Evolution of Unix and Unix-like systems.   The language of Unix is English.   The title of Unix is The Creation of the UNIX Operating System, The Evolution of the Unix Time-sharing System.   The width of Unix is 220.   The product of Unix is HCR Corporation, Microport (software).   The subject of Unix is The Art of Unix Programming
Question: Count the number of ingredient of the foods which have one of the ingredient is Pork ?
Answer before conversion:
Generated text:    The magnesium mg of Pork is 28.   The potassium mg of Pork is 423.   The vitC mg of Pork is 0. 6.   The title of Pork is 27.   The vitD iu of Pork is 53.   The vitB12 ug of Pork is 0. 7.   The variations of Pork is Motsetta.   The product of Pork is CNK International, Colcom Foods, D'Artagnan (food company), Danish Crown (company), Niman Ranch, Seaboard Corporation, Smithfield Foods, Tiv Ta'am, Yurun Group
Question: How many had their debut team coached by Chip Kelly?
Answer before conversion:  1, 2, 3
Generated text:   The championships of Chip Kelly is 1, 2, 3.   The conf of Chip Kelly is Pac-12 Conference.   The type of Chip Kelly is coach.   The bowloutcome of Chip Kelly is L, W.   The startyear of Chip Kelly is 2009, 2018.   The endyear of Chip Kelly is 2012.   The birth place of Chip Kelly is Dover, New Hampshire.   The championship of Chip Kelly is conference, division.   The tournament record of Chip Kelly is 0.   The year of Chip Kelly is 2009, 2010, 2011, 2012, 2018, 2019, 2020, 2021
Question: How many characters are there in The Office?
Answer before conversion:  4. 49, 4
Generated text:    The language of The Office is English.   The list episodes of The Office is List of The Office  episodes.   The next of The Office is 2010, Undercover Boss.   The title of The Office is List of awards and nominations received by The Office (American TV series), The Office theme.   The species of The Office is no.   The network of The Office is NBC.   The camera of The Office is Single-camera setup.   The link of The Office is The Office.   The endrating of The Office is 4. 49, 4
Question: Count the number of religions followed by BJP members.
Answer before conversion:
Generated text:    The alliance of BJP is 1980 Uttar Pradesh Legislative Assembly election, 1993 Uttar Pradesh Legislative Assembly election, 1996 Uttar Pradesh Legislative Assembly election, Congress (Dolo).   The colours of BJP is Saffron.   The logo of BJP is Bharatiya Janata Party logo. svg.   The position of BJP is Right-wing, center.   The labour of BJP is Bharatiya Mazdoor Sangh.   The presidium of BJP is National Executive of the Bharatiya Janata Party.   The headquarters of BJP is 6, New Delhi-110002.   The membership of BJP is , 180000000.   The international of BJP is * International Democrat Union * Asia Pacific Democrat Union

In [13]:
#preguntas cuya respuesta sea booleana
booleans = results[(results['Response'] == "true") | (results['Response'] == "false")]
booleans

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
15,Is Fluidinfo written in PostgreSQL language?,yes,true,400,0.0,1.288230e-229,0.0,0,37.34,1139,YES
28,Is the Caterpullar 797F assembled in North America?,yes,true,400,0.0,1.288230e-229,0.0,0,440.70,357,YES
30,Was Gerald Gibbs the cinematographer of X the unknown?,yes,true,400,0.0,1.288230e-229,0.0,0,117.91,111,YES
38,Was Ganymede discovered by Galileo Galilei?,yes,true,400,0.0,1.288230e-229,0.0,0,405.12,324,YES
42,Is Greg Weeks the band member of Beyond the Sixth Seal?,yes,true,400,0.0,1.288230e-229,0.0,0,41.13,874,YES
...,...,...,...,...,...,...,...,...,...,...,...
793,Is Sao Paulo the largest city of Brazil?,yes,true,400,0.0,1.288230e-229,0.0,0,293.89,797,YES
810,Is Wahoo! the previous work of Honeybuns?,yes,true,400,0.0,1.288230e-229,0.0,0,108.46,35,YES
822,Does Cohoes a junction on the NY State Route 470?,yes,true,400,0.0,1.288230e-229,0.0,0,25.35,596,YES
829,Was Charlemagne canonized by antipope pachal 3?,yes,true,400,0.0,1.288230e-229,0.0,0,547.07,678,YES
861,Does Hard Candy Fitness have one of the divisions in Moscow?,yes,true,400,0.0,1.288230e-229,0.0,0,274.91,931,YES

In [14]:
booleans[(booleans['Answer'] == "yes")]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
15,Is Fluidinfo written in PostgreSQL language?,yes,true,400,0.0,1.288230e-229,0.0,0,37.34,1139,YES
28,Is the Caterpullar 797F assembled in North America?,yes,true,400,0.0,1.288230e-229,0.0,0,440.70,357,YES
30,Was Gerald Gibbs the cinematographer of X the unknown?,yes,true,400,0.0,1.288230e-229,0.0,0,117.91,111,YES
38,Was Ganymede discovered by Galileo Galilei?,yes,true,400,0.0,1.288230e-229,0.0,0,405.12,324,YES
42,Is Greg Weeks the band member of Beyond the Sixth Seal?,yes,true,400,0.0,1.288230e-229,0.0,0,41.13,874,YES
...,...,...,...,...,...,...,...,...,...,...,...
793,Is Sao Paulo the largest city of Brazil?,yes,true,400,0.0,1.288230e-229,0.0,0,293.89,797,YES
810,Is Wahoo! the previous work of Honeybuns?,yes,true,400,0.0,1.288230e-229,0.0,0,108.46,35,YES
822,Does Cohoes a junction on the NY State Route 470?,yes,true,400,0.0,1.288230e-229,0.0,0,25.35,596,YES
829,Was Charlemagne canonized by antipope pachal 3?,yes,true,400,0.0,1.288230e-229,0.0,0,547.07,678,YES
861,Does Hard Candy Fitness have one of the divisions in Moscow?,yes,true,400,0.0,1.288230e-229,0.0,0,274.91,931,YES

In [15]:
correctBooleans = booleans[(booleans['Answer'] == "yes") & (booleans['Response'] == "true")]
correctBooleans

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
15,Is Fluidinfo written in PostgreSQL language?,yes,true,400,0.0,1.288230e-229,0.0,0,37.34,1139,YES
28,Is the Caterpullar 797F assembled in North America?,yes,true,400,0.0,1.288230e-229,0.0,0,440.70,357,YES
30,Was Gerald Gibbs the cinematographer of X the unknown?,yes,true,400,0.0,1.288230e-229,0.0,0,117.91,111,YES
38,Was Ganymede discovered by Galileo Galilei?,yes,true,400,0.0,1.288230e-229,0.0,0,405.12,324,YES
42,Is Greg Weeks the band member of Beyond the Sixth Seal?,yes,true,400,0.0,1.288230e-229,0.0,0,41.13,874,YES
...,...,...,...,...,...,...,...,...,...,...,...
793,Is Sao Paulo the largest city of Brazil?,yes,true,400,0.0,1.288230e-229,0.0,0,293.89,797,YES
810,Is Wahoo! the previous work of Honeybuns?,yes,true,400,0.0,1.288230e-229,0.0,0,108.46,35,YES
822,Does Cohoes a junction on the NY State Route 470?,yes,true,400,0.0,1.288230e-229,0.0,0,25.35,596,YES
829,Was Charlemagne canonized by antipope pachal 3?,yes,true,400,0.0,1.288230e-229,0.0,0,547.07,678,YES
861,Does Hard Candy Fitness have one of the divisions in Moscow?,yes,true,400,0.0,1.288230e-229,0.0,0,274.91,931,YES

In [16]:
for counter,i in enumerate(correctBooleans['Question']):
    if counter > 19:
        break

    files = {
        'question': (None, i),
    }

    response = requests.get(queryURL, files = files)
    print("Question:", i)
    print("Answer before conversion: ", (response.json())['answer-2'])
    print("Generated text: ", (response.json())['text'])

Question: Is Fluidinfo written in PostgreSQL language?
Answer before conversion:  there is no clear division between segments
Generated text:    The wikt of language is 1.   The caption of language is A mural in Teotihuacan, Mexico  depicting a person emitting a speech scroll from his mouth, symbolizing speech, A spectrogram showing the sound of the spoken English word "man", which is written phonetically as .  Note that in flowing speech, there is no clear division between segments, only a smooth transition as the vocal apparatus moves. , Braille, a tactile writing system, Children of deaf adults using American Sign Language, Cuneiform is the first known form of written language, but spoken language predates writing by at least many tens of thousands of years. , Humans have speculated about the origins of language throughout history.  The Biblical myth of the Tower of Babel is one such account; other cultures have different stories of how language arose. , Real time MRI scan of a person speaking in Mandarin Chinese, Spectrogram of American English vowels  showing the formants f1 and f2, The Tower of Babel by Pieter Bruegel the Elder.  Oil on board, 1563. , The human vocal tract. , The sign for "wi" in Korean Sign Language, The syllable "wi" in the Hangul script
Question: Is the Caterpullar 797F assembled in North America?
Answer before conversion:  The assembly of 797F is North America
Generated text:   The predecessor of 797F is Caterpillar 797B.   The class of 797F is Haul truck.   The layout of 797F is Front-engine, rear-wheel-drive layout.   The engine of 797F is Caterpillar Inc. .   The assembly of 797F is North America.   The body style of 797F is Dump truck.   The manufacturer of 797F is Caterpillar Inc. .   The product of 797F is Caterpillar Inc
Question: Was Gerald Gibbs the cinematographer of X the unknown?
Answer before conversion:  Barbara Baska, Pawel Kwiek
Generated text:    The field of cinematographer is Barbara Baska, Pawel Kwiek.   The spouse of cinematographer is Maura Soden.
Question: Was Ganymede discovered by Galileo Galilei?
Answer before conversion:  The discoverer of Ganymede is Galileo Galilei
Generated text:   The volume (μ³) of Ganymede is 0. 0704.   The former name of Ganymede is Jupiter III.   The magnitude of Ganymede is 4. 38, 4. 61.   The rotation of Ganymede is Synchronous rotation.   The adjectives of Ganymede is Ganymedean, Ganymedian,.   The discoverer of Ganymede is Galileo Galilei.   The max temp  of Ganymede is 152
Question: Is Greg Weeks the band member of Beyond the Sixth Seal?
Answer before conversion:  The current members
Generated text:   The current members of Greg Weeks is Beyond the Sixth Seal, Espers (band).   The producer of Greg Weeks is II (Espers album).   The band member of Greg Weeks is Beyond the Sixth Seal, Espers (band), The Valerie Project.   The location of Sixth is 10 Sullivan, 1166 Avenue of the Americas, 1211 Avenue of the Americas, 1221 Avenue of the Americas, 32 Avenue of the Americas, Bank of America Tower (Manhattan), Bryant Park, Church of St.  Joseph in Greenwich Village, Church of the Holy Communion and Buildings, CohnReznick, Dominican Day Parade, Hess Corporation, Jefferson Market Library, New York Hilton Midtown, Radio City Music Hall, Trimaran Capital Partners, Trude Heller's, W.  R.  Grace Building, WW International.   The route junction of Sixth is Herald Square, Midtown Manhattan.   The East of Sixth is Fifth Avenue (Manhattan).   The direction b of Sixth is North
Question: Is Steve Nash the chairman of Vancouver Whitecaps FC?
Answer before conversion:  The owner
Generated text:    The years of Steve Nash is –.   The draft year of Steve Nash is 1996.   The team of Steve Nash is Brooklyn Nets.   The owners of Steve Nash is Las Vegas NLL team.   The key person of Steve Nash is Canada Basketball.   The after of Steve Nash is Li Ning, Stefania Belmondo.   The coach of Steve Nash is 2020–21 Brooklyn Nets season, 2021–22 Brooklyn Nets season, Brooklyn Nets.   The cauldron of Steve Nash is 2010 Winter Olympics, 2015 Pan American Games.   The MVP of Steve Nash is 2004–05 NBA season.   The owner of Steve Nash is Vancouver Whitecaps FC
Question: Was the body of Elsie Paroubek discovered in Chicago?
Answer before conversion:  The body discovered of Chicago is Elsie Paroubek. S
Generated text:    The made in of Chicago is Johnson desk.   The LargestCity of Chicago is Illinois. , Sandbox Industries, Schiff Hardin, Scrappers Film Group, Segal McCambridge Singer & Mahoney, Serbian National Defense Council, Seyfarth Shaw, Sidley Austin, Siren interactive, Skandinaven, Society of Women Engineers, Sonnenschein Nath & Rosenthal, Southeast Chicago Observer, Spark Foundry, Stadium (sports network), Stats Perform, StreetWise, Student Osteopathic Medical Association, The A. V. , Tourism in Chicago, TransMarket Group, Uniform Law Commission, United Airlines, United Express, United Working Families, University Bible Fellowship, Urban Growers Collective, Urban Retail Properties, Walton Street Capital, Windy City Times, Winston & Strawn, Yazoo and Mississippi Valley Railroad.   The located in area of Chicago is BP Pedestrian Bridge, Canal Street railroad bridge, Cherry Avenue Bridge, Clark Street Bridge, Cortland Street Drawbridge, DuSable Bridge, Franklin Street Bridge, Kinzie Street railroad bridge, La Salle Street Bridge (Chicago, Illinois), Lake Shore and Michigan Southern Railway, Bridge No.  6, Nichols Bridgeway, North Avenue Bridge, Outer Drive Bridge, Sky Ride, St.  Charles Air Line Bridge, Wabash Avenue Bridge, Wells Street Bridge (Chicago).   The body discovered of Chicago is Elsie Paroubek. S
Question: Is Queen Latifah associated with Afrika Baby Bam?
Answer before conversion:  The writer
Generated text:   1, Resurrection (Lords of the Underground album), Steel Magnolias (2012 film), The Clark Sisters: First Ladies of Gospel, The Cookout, The Next: Fame Is at Your Doorstep, The Perfect Holiday.   The writer of Queen Latifah is Baby (Brandy song), Bananas (Who You Gonna Call?), Black Hand Side, Brand New (Salt-n-Pepa album), Ego Death (song), Eve (Rapsody album), Featuring Ty Dolla Sign, Just Another Day. . . , Ova Confident, Sunset Park (soundtrack), The Cookout, U. N. I. T. Y. , What's the Worst That Could Happen? (soundtrack)
Question: Was Writings and Drawings illustrated by Bob Dylan?
Answer before conversion:  The cover artist
Generated text:   We Steal Things. , We Walk This Road, We Walk the Line: A Celebration of the Music of Johnny Cash, Wednesday Morning, 3 A. M.   The author of Bob Dylan is Chronicles: Volume One, Mama, You Been on My Mind, Tarantula (poetry collection), Writings and Drawings.   The subject of Bob Dylan is Chronicles: Volume One.   The music by of Bob Dylan is Girl from the North Country (musical), The Times They Are a-Changin' (musical).   The opening theme of Bob Dylan is Mr.  Mercedes (TV series).   The partner of Bob Dylan is Suze Rotolo.   The cover artist of Bob Dylan is Writings and Drawings
Question: Did Bob Dylan write the lyrics of the times they are a changin'?
Answer before conversion:  Bob Dylan
Generated text:    The caption of Bob Dylan is Dylan at Azkena Rock Festival in Vitoria-Gasteiz, Spain, in June 2010.   The signature of Bob Dylan is Bob Dylan signature. svg.   The alt of Bob Dylan is Bob Dylan plays a guitar and sings into a microphone. .   The filename of Bob Dylan is Bob Dylan - Like a Rolling Stone. ogg, Bob Dylan - The Times They Are a-Changin'. ogg, Gotta_Serve_Somebody. ogg, Lay Lady Lay. ogg, Tangled Up In Blue
Question: Was John muir one of the first to ascend a mountain on Mt hoffmann?
Answer before conversion:  The person that first ascented a mountain of John muir
Generated text:    The influenced of John muir is Alexander von Humboldt, Henry David Thoreau, Ralph Waldo Emerson.   The influenced by of John muir is Edmund Jaeger.   The influences of John muir is Edmund Jaeger, J.  Baird Callicott.   The producer of John muir is The Radio One Sessions (Syd Barrett album).   The person that first ascented a mountain of John muir is Cathedral Peak (California), Mount Hoffmann, Mount Ritter.   The known for of John muir is Ezra S.  Carr.   The founder of John muir is Sierra Club.   The source  of John muir is Mount Rainier National Park
Question: Is Christchurch the largest city of South Island?
Answer before conversion:  The country largest city of Christchurch is South Island
Generated text:    The country largest city of Christchurch is South Island.   The picture of Christchurch is Colombo Street.   The region of Christchurch is Christchurch Hospital.   The area of Christchurch is Lite FM (New Zealand), Pulzar FM, RDU-FM, ZM Christchurch.   The resting place of Christchurch is Anne Ward (suffragist), Arthur Rhodes (politician), Henry Richard Webb, Herbert Money, Jack Hinton, Neville Pickering, Tim Armstrong (politician), William Hayward (politician), William Robinson (runholder).   The origin of Christchurch is Atlas (band), Bachelorette (singer), Chester Travis, Hooster, Julia Deans, Moorhouse (band), Nomad (NZ band), Roy Montgomery, Shapeshifter (band), The Dukes (New Zealand band), The Enright House, The Exponents, Yumi Zouma.   The location city of Christchurch is ANZCO Foods, Antigua Boat Sheds, Arc Innovations, Christchurch City Holdings, Enable Networks, International Antarctic Centre, MARS Bioimaging, New Zealand Refrigerating Company, Ngāi Tahu Holdings, Orion New Zealand, PGG Wrightson, Ryman Healthcare, Salehoo, Skellerup, Smiths City, Swanndri, Windflow Technology.  E.  V.   The ground of Christchurch is Avon United, Burnside A
Question: Does KOMC play Gospel Music?
Answer before conversion:  Classic hits
Generated text:   The broadcast area of KOMC is Branson, Missouri.   The programme format of KOMC is Classic hits.   The area of KOMC is Branson, Missouri.   The licensee of KOMC is Ozark Mountain Media Group, LLC.   The logo of KOMC is File:KCAX 98. 1-1220ClassicHits logo. jpg.   The facility id of KOMC is 68415.   The class of KOMC is D.   The former callsigns of KOMC is KBHM, KLCO, KOMC
Question: Was Michael Schumacher the Pole driver of 1994 Spanish Grand Prix?
Answer before conversion:  The Pole driver of 1994 Spanish Grand Prix is Michael Schumacher
Generated text:    The fastest driver team of 1994 Spanish Grand Prix is Benetton Formula.   The second team of 1994 Spanish Grand Prix is Benetton Formula.   The Third Country of 1994 Spanish Grand Prix is United Kingdom.   The Second Driver of 1994 Spanish Grand Prix is Michael Schumacher.   The Pole driver of 1994 Spanish Grand Prix is Michael Schumacher.   The pole driver team of 1994 Spanish Grand Prix is Benetton Formula.   The Fast Country of 1994 Spanish Grand Prix is Germany.   The Course km of 1994 Spanish Grand Prix is 4. 747.   The Distance km of 1994 Spanish Grand Prix is 308
Question: Does the Sicklefin lemon shark belong in the animal kingdom?
Answer before conversion:  The species of Sicklefin lemon shark is acutidens
Generated text:    The range map upright of Sicklefin lemon shark is 1. 1.   The image upright of Sicklefin lemon shark is 1. 1.   The range map caption of Sicklefin lemon shark is Range of the sicklefin lemon shark.   The species of Sicklefin lemon shark is acutidens.   The image2 caption of Sicklefin lemon shark is Negaprion.
Question: Was Class Conflict an interest of Karl Marx?
Answer before conversion:  The subjects of Karl Marx is History and Class Consciousness
Generated text:    The source  of Karl Marx is — Karl Marx, The Communist Manifesto.   The total width of Karl Marx is 360.   The school tradition of Karl Marx is Y.  Michal Bodemann.   The relation of Karl Marx is Anton Philips, Gerard Philips, Henry Juta.   The sign of Karl Marx is General intellect, Marxian economics.   The parent of Karl Marx is Laura Marx.   The notableIdea of Karl Marx is Gustavo Bueno.   The subjects of Karl Marx is History and Class Consciousness, Marx After Sraffa, Reason and Revolution.   The key person of Karl Marx is International Workingmen's Association
Question: Does the north carolina highway 280 end in Arden?
Answer before conversion:  Arden
Generated text:   The location of north carolina highway 280 is Arden, Brevard, Fletcher, Mills River.   The route junction of north carolina highway 280 is Fletcher, North Carolina.   The state of north carolina highway 280 is NC.   The type of north carolina highway 280 is NC, concur.   The next type of north carolina highway 280 is NC.   The direction b of north carolina highway 280 is North.   The notes of north carolina highway 280 is Exit 40, North end of NC 191 overlap, South end of NC 191 overlap, Southern terminus of US 25A, To Brevard College and Cradle of Forestry.   The length (μ) of north carolina highway 280 is 29129. 1264.   The direction a of north carolina highway 280 is South
Question: Was Castillo discovered by Galileo?
Answer before conversion:  Astronomy
Generated text:    The name of Galileo is Galileo Galilei.   The academic advisor of Galileo is Benedetto Castelli, Vincenzo Viviani.   The author of Galileo is Dialogo de Cecco di Ronchitti da Bruzene in perpuosito de la stella Nuova, Sidereus Nuncius, Two New Sciences.   The b of Galileo is no.   The v of Galileo is no.   The death place of Galileo is Arcetri, Grand Duchy of Tuscany.   The wikt of Galileo is no.   The field of Galileo is Astronomy, Engineering, Mathematics, Natural philosophy, Physics.   The education of Galileo is University of Pisa.   The birth name of Galileo is Galileo di Vincenzo Bonaiuti de' Galilei
Question: Do the polet airlines fly to moscow?
Answer before conversion:  The target airport of moscow is Polet Airlines
Generated text:   V. Taxi, Young Army Cadets National Movement, Young Russia (youth movement), Zee Russia, Zvezda (TV channel).   The located in area of moscow is Sparrow Hills.   The state of origin of moscow is Oleg Mitvol.   The successor of moscow is Verticali.   The target airport of moscow is Polet Airlines.   The disappeared place of moscow is Alexander Dubrovin, John Pepper.   The battle honours of moscow is 177th Fighter Aviation Regiment PVO.   The training of moscow is Denis Semionov, Stas Zhitsky, Đuro Tiljak.   The RD4T1-loc of moscow is 1994 Davis Cup, 1994 Davis Cup World Group, 1994 in tennis, 1995 Davis Cup, 1995 Davis Cup World Group, 2006 Davis Cup, 2006 Davis Cup World Group
Question: Is Lancy a city close to Geneva?
Answer before conversion:  Avoriaz
Generated text:    The mouth place of Geneva is Arve.   The occupation of Geneva is Crispin Conroy.   The after of Geneva is Nelson Mandela Forum, Sporthal Arena.   The nearest city of Geneva is Avoriaz, Flaine, Grand Massif, Lake Geneva.   The founded of Geneva is International Risk Governance Center.   The ground of Geneva is Racing Club Genève.   The now at of Geneva is Papyrus 66.   The RD1T3-loc of Geneva is 1979 Davis Cup, 1979 Davis Cup Europe Zone, 1996 Davis Cup, 1996 Davis Cup World Group.   The target airport of Geneva is Monacair.   The subsidiary of Geneva is Medici Bank, Public Eye (organization)

In [17]:
correctBooleans = booleans[(booleans['Answer'] == "no") & (booleans['Response'] == "false")]
correctBooleans

Empty DataFrame
Columns: [Question, Answer, Response, Levenshtein Distance, BLEU Score (SacreBleu), BLEU Score (ntlk), Meteor Score, EM Score, Query Time, Text Length, Is Answered]
Index: []

In [18]:
booleans[(booleans['Answer'] == "no")]

Empty DataFrame
Columns: [Question, Answer, Response, Levenshtein Distance, BLEU Score (SacreBleu), BLEU Score (ntlk), Meteor Score, EM Score, Query Time, Text Length, Is Answered]
Index: []

# VANiLLA

In [19]:
# read csv file
results = pd.read_csv("https://raw.githubusercontent.com/librairy/EQAKG/main/test/VANiLLA/VANiLLA.csv", header = 0, encoding = "utf-8", sep=";")

# display DataFrame
print(results.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15999 entries, 0 to 15998
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Question                15999 non-null  object
 1   Answer                  15999 non-null  object
 2   Response                15979 non-null  object
 3   Levenshtein Distance    15999 non-null  int64
 4   BLEU Score (SacreBleu)  15999 non-null  float64
 5   BLEU Score (ntlk)       15999 non-null  float64
 6   Meteor Score            15999 non-null  float64
 7   EM Score                15999 non-null  int64
 8   Query Time              15999 non-null  float64
 9   Text Length             15999 non-null  int64
dtypes: float64(4), int64(3), object(3)
memory usage: 1.2+ MB
None

In [20]:
# mean, average, std...
results.describe()

,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length
count,15999.000000,15999.00000,1.599900e+04,15999.000000,15999.000000,15999.000000,15999.000000
mean,1629.151822,12.91895,1.453810e+01,0.050691,0.100819,90.999686,455.372961
std,2150.728290,30.68011,3.130769e+01,0.150921,0.301098,99.873517,249.566043
min,0.000000,0.00000,0.000000e+00,0.000000,0.000000,3.110000,0.000000
25%,700.000000,0.00000,1.164047e-229,0.000000,0.000000,25.175000,285.000000
50%,1200.000000,0.00000,3.788950e-153,0.000000,0.000000,51.580000,448.000000
75%,2000.000000,0.00000,4.593825e-76,0.000000,0.000000,126.730000,599.000000
max,44700.000000,100.00000,1.000000e+02,0.500000,1.000000,1026.950000,2169.000000

In [21]:
#preguntas cuyo BLEU Score, de SacreBleu, sea 0
results[results['BLEU Score (SacreBleu)'] == 0.0]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length
0,Which administrative territory is the country of citizenship of Jon Hernández ?,spain,canadian,500,0.0,1.425661e-229,0.0,0,6.34,585
1,Where did the demise of Ferdinand Ducarre occur ?,lyon,"extremadura, madrigalejo",2300,0.0,9.788429e-230,0.0,0,12.34,780
3,What was the sport that Franco Radaelli was a part of ?,football,polo,600,0.0,6.237049e-230,0.0,0,36.93,509
5,Which person is the life partner of Johann Christian Kestner ?,charlotte buff,truman capote,1400,0.0,8.050112e-153,0.0,0,180.11,114
6,Which language does Frank McDonald speak in ?,english,teegarden,700,0.0,6.739372e-153,0.0,0,186.88,134
...,...,...,...,...,...,...,...,...,...,...
15994,"Where did alys, countess of the vexin die",france,"nicasius, quirinus, scubiculus, and pientia",3900,0.0,3.421648e-153,0.0,0,84.26,251
15995,Which collectable as President of the United States of America as its class ?,american lion,air mail,900,0.0,9.751564e-230,0.0,0,152.28,807
15996,Which person has its archives at Harvard University ?,roscoe simmons,roger owen,1000,0.0,5.080794e-153,0.0,0,377.20,865
15997,What was developed by Raoul Dufy ?,les alliés,"cubism, fauvism, impressionism, modernism",3600,0.0,3.668589e-153,0.0,0,379.35,608
15998,Where did James Busby expire ?,anerley,"edinburgh,scotland",1500,0.0,5.333157e-153,0.0,0,254.67,400

In [22]:
#preguntas cuyo BLEU Score, de ntlk, sea 0
results[results['BLEU Score (ntlk)'] == 0.0]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length
9,What was the sport that Tommy Gale was a part of ?,football,cup,800,0.0,0.0,0.0,0,23.22,448
13,which asteroid group is 5110 belgirate found in,asteroid belt,8,1300,0.0,0.0,0.0,0,72.37,667
44,What manner did Marian Bergeron die ?,natural causes,1933,1400,0.0,0.0,0.0,0,13.86,576
60,What is demonstrated in sports film ?,sport,NaN,500,0.0,0.0,0.0,0,101.90,0
111,Where did Eugène Bigot die ?,paris,1949,500,0.0,0.0,0.0,0,31.42,256
...,...,...,...,...,...,...,...,...,...,...
15918,which country is pascale arbillot from,france,2014,600,0.0,0.0,0.0,0,24.85,430
15928,"Which sex does Sir Robert Cunliffe, 5th Baronet have ?",male,"40. 6, 59. 4",1200,0.0,0.0,0.0,0,289.01,779
15933,in what language is the film pasumpon in,tamil,1995,500,0.0,0.0,0.0,0,31.57,439
15947,What does 3914 kotogahama orbit?,sun,1,300,0.0,0.0,0.0,0,49.30,329
15968,Which nucleic acid sequence encodes Apoptosis regulator Bcl-2 ?,bcl2,"3, 4",400,0.0,0.0,0.0,0,98.10,393

In [23]:
#preguntas cuya respuesta sea numerica
numbers = results[results['Answer'].str.isnumeric()]

numbers

Empty DataFrame
Columns: [Question, Answer, Response, Levenshtein Distance, BLEU Score (SacreBleu), BLEU Score (ntlk), Meteor Score, EM Score, Query Time, Text Length]
Index: []

In [24]:
numbers[numbers['BLEU Score (SacreBleu)'] != 0]

Empty DataFrame
Columns: [Question, Answer, Response, Levenshtein Distance, BLEU Score (SacreBleu), BLEU Score (ntlk), Meteor Score, EM Score, Query Time, Text Length]
Index: []

In [25]:
#preguntas cuya respuesta sea booleana
booleans = results[(results['Response'] == "true") | (results['Response'] == "false")]
booleans

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length
477,is the movie i was a mail order bride in french or english language,english,true,700,0.0,6.085166e-230,0.0,0,128.23,363
1096,is thomas edison a male or female,male,true,300,0.0,1.288230e-229,0.0,0,101.77,408
1142,was andrea guerra a playmaker or defender on the pitch,defender,true,700,0.0,5.635810e-230,0.0,0,184.41,341
1178,is noémie lenoir male or female,female,true,500,0.0,7.813508e-230,0.0,0,49.40,81
1561,is yakuza weapon from japan or china,japan,true,500,0.0,0.000000e+00,0.0,0,75.43,317
...,...,...,...,...,...,...,...,...,...,...
14683,Is sunnyside (film) a documentary or silent film,silent film,true,1000,0.0,2.662168e-230,0.0,0,105.16,122
15142,Is stephen ferris male or female?,male,true,300,0.0,1.288230e-229,0.0,0,165.92,258
15617,is suzanne somers from the united states or canada,united states of america,true,2200,0.0,1.227541e-231,0.0,0,47.87,469
15654,is neil j. gunther from Australia or england,australia,true,700,0.0,3.021963e-153,0.0,0,189.33,379
15887,is rob astbury from Australia or new zealand,australia,true,700,0.0,3.021963e-153,0.0,0,54.91,135

In [26]:
for counter,i in enumerate(booleans['Question']):
    if counter > 19:
        break

    files = {
        'question': (None, i),
    }

    response = requests.get(queryURL, files = files)
    print("Question:", i)
    print("Answer before conversion: ", (response.json())['answer-2'])
    print("Generated text: ", (response.json())['text'])

Question: is the movie i was a mail order bride in french or english language
Answer before conversion:  The small of language is yes.
Generated text:  png, Pieter Bruegel the Elder - The Tower of Babel  - Google Art Project - edited. jpg, Real-time MRI - Speaking . ogv, Spectrogram -iua-. png, Tepantitla mural, Ballplayer A . jpg.   The small of language is yes.   The b of language is y.   The direction of language is vertical.   The v of language is School:Language and Literature.   The wikt of language is 1
Question: is thomas edison a male or female
Answer before conversion:  The child
Generated text:    The child of thomas edison is Charles Edison, John Eyre Sloane, Theodore Miller Edison.   The birth name of thomas edison is Thomas Alva Edison.   The caption of thomas edison is Edison,  1922.   The id of thomas edison is 249379, gov. archives. arc. 49442.   The signature of thomas edison is Thomas Alva Edison Signature. svg.   The burial place of thomas edison is Thomas Edison National Historical Park
Question: was andrea guerra a playmaker or defender on the pitch
Answer before conversion:  defender
Generated text:  jpg.   The footer of playmaker is Michel Platini , who played as an advanced playmaker himself, later coined the term "nine and a half" to describe the playing style of his successor in Juventus colours, Roberto Baggio . .   The width of playmaker is 125, 175.   The position of defender is 2010 Akron Zips men's soccer team, A Hoàng, A.  J.  Cochran, A.  J.  DeLaGarza, A.  J
Question: is noémie lenoir male or female
Answer before conversion:  noémie lenoir is Rush Hour 3, The Transporter Refueled.
Generated text:  77 m.   The starring of noémie lenoir is Rush Hour 3, The Transporter Refueled.
Question: is yakuza weapon from japan or china
Answer before conversion:  Japan
Generated text:    The country of yakuza weapon is Japan.   The editing of yakuza weapon is Zensuke Hori.   The language of yakuza weapon is Japanese.   The studio of yakuza weapon is Stairway.   The director of yakuza weapon is Tak Sakaguchi, Yūdai Yamaguchi.   The film director of yakuza weapon is Tak Sakaguchi, Yūdai Yamaguchi.
Question: luis montalbert-smith along with her music group Gandhi is considered to be within this genre.
Answer before conversion:  Alternative rock
Generated text:    The birth name of luis montalbert-smith is Luis Montalbert-Smith.   The caption of luis montalbert-smith is Luis playing with Gandhi in Jazz Café, Costa Rica. .   The genre of luis montalbert-smith is Alternative rock.   The instrument of luis montalbert-smith is Vocals, piano.   The current members of luis montalbert-smith is Gandhi (Costa Rican band).   The band member of luis montalbert-smith is Gandhi (Costa Rican band).   The predecessor of Gandhi is Sarojini Naidu.   The n of Gandhi is no.   The years active of Gandhi is 1893
Question: is richard williams male or female
Answer before conversion:  0
Generated text:    The ru nationalpoints of richard williams is 0.
Question: did chris sullivan play defensive end or pitcher
Answer before conversion:  pitcher
Generated text:   Sikkema, T.  J.  Tucker, T.  J.  Zeuch, T.  R.   The player positions of pitcher is A.  K.  Fauver, C.  M
Question: is sonic the hedgehog spinball single-player or multi-player
Answer before conversion:  single-player
Generated text:  Y. , WarioWare, Inc. M.   The genre of single-player is Angband (video game), AssaultCube, AstroMenace, Battleloot Adventure, Bos Wars, C-evo, Cataclysm: Dark Days Ahead, Chromium B. S. U.
Question: is tim fly's cause he's having fun indie pop or rock
Answer before conversion:  pop
Generated text:  .  and legendary labels . . .  their own pop stars . . .  their own zines . .
Question: Is hugh alan anderson male or female
Answer before conversion:  1979
Generated text:    The term end of hugh alan anderson is 1979.   The constituency MP of hugh alan anderson is Comox—Alberni.
Question: is the heart of the bear in the russian language or french
Answer before conversion:  right
Generated text:    The label of heart is Organ donation.   The supplies of heart is Aortic arch.   The Innervates of heart is Inferior cardiac nerve, Superior cardiac nerve.   The part of of heart is Atrium (heart), Interventricular septum.   The death cause of heart is Sal Mineo.   The translation of heart is Tumtum Mountain.   The profession of heart is James Kirklin.   The speciality of heart is Mission Hospital (Mission Viejo, California).   The type genus of bear is Ursus.   The align of bear is right
Question: Is my horse & me 2 an action or racing game
Answer before conversion:  racing
Generated text:    The sex of horse is Divine Park, Tamamo Cross.   The Race of horse is Hwin.   The known for of horse is David Goodey.   The title of horse is Eyewitness (British TV series).   The trinominal name of horse is Falabella.   The power type of horse is Cycloped.   The equipment of horse is 5th Light Horse Brigade, 6th Cavalry Brigade (Australia), Barrel racing, Combined driving, Dressage, Endurance riding, Equestrian vaulting, Eventing, Global Champions Tour, Harness racing, Horse racing, Para-equestrian, Pole bending, Reining, Show jumping, Steeplechase (horse racing), Working cow horse.   The symbol of horse is Neptune (mythology), Sambhavanatha, Sunni Ittehad Council.   The l of horse is Longma.   The genre of racing game is 007 Racing, 2 Fast 2 Furious (video game), 2Xtreme, 360: Three Sixty, 3D Pixel Racing, 3Xtreme, 4x4 Evo 2, 4x4 Off-Road Racing, 500 cc Grand Prix, 750cc Grand Prix, A
Question: is bronisław maria komorowski male or female
Answer before conversion:  maria
Generated text:    The total width of maria is 600.
Question: Is the sex of ethel snowden female or male?
Answer before conversion:  ethel snowden is Philip Snowden, 1st Viscount Snowden.
Generated text:   The spouse of ethel snowden is Philip Snowden, 1st Viscount Snowden.
Question: is sajid ghafoor male or female
Answer before conversion:  The background of sajid ghafoor is group_or_band
Generated text:   The landscape of sajid ghafoor is yes.   The years active of sajid ghafoor is 1996.   The origin of sajid ghafoor is Khyber Pakhtunkhwa, Pakistan, Peshawar.   The associated band of sajid ghafoor is Sarmad Abdul Ghafoor, Zeeshan Parwez.   The associated acts of sajid ghafoor is Sarmad Ghafoor, Zeeshan Parwez.   The name of sajid ghafoor is Sajid Ghafoor.   The home town of sajid ghafoor is Khyber Pakhtunkhwa, Pakistan, Peshawar.   The background of sajid ghafoor is group_or_band.   The associated musical artist of sajid ghafoor is Sarmad Abdul Ghafoor, Zeeshan Parwez.   The caption of sajid ghafoor is 2008
Question: is alexander mackenzie male or female
Answer before conversion:  before of alexander mackenzie is Kenneth Mackenzie, 7th of Kintail.   The years of alexander mackenzie is ?–1488.
Generated text:   The after of alexander mackenzie is Kenneth Mackenzie, 7th of Kintail.   The title of alexander mackenzie is Chiefs of Clan Mackenzie.   The before of alexander mackenzie is Kenneth Mackenzie, 7th of Kintail.   The years of alexander mackenzie is ?–1488.   The commander of alexander mackenzie is Battle of Bealach nam Broig.
Question: is padmé amidala male or female
Answer before conversion:  Female
Generated text:    The creator (agent) of padmé amidala is George Lucas.   The full name of padmé amidala is Padmé Amidala Naberrie.   The child of padmé amidala is Luke Skywalker, Princess Leia.   The caption of padmé amidala is Natalie Portman as Padmé Amidala in Revenge of the Sith.   The family of padmé amidala is Mara Jade.   The gender of padmé amidala is Female.   The data of padmé amidala is Naboo.   The species of padmé amidala is Human, List of Star Wars creatures.   The text of padmé amidala is Padmé Amidala.   The affiliation of padmé amidala is , Alliance to Restore the Republic, Galactic Republic, Royal House of Naboo
Question: is the man who saved the world from denmark or sweden
Answer before conversion:  Denmark
Generated text:  S. C.  Napoli season, 2015–16 Southampton F. C. C.  season, 2018–19 FC St.  Pauli season, 2018–19 FC Zenit Saint Petersburg season, 2018–19 FK Partizan season, 2018–19 Odense Boldklub season, 2018–19 PFC CSKA Sofia season, 2018–19 in Polish football, 2019 Denmark Open, 2019 European Mixed Team Badminton Championships, 2019 Molde FK season, 2019 in Estonian football, 2019–20 AaB season, 2019–20 Celtic F. C.  season, 2019–20 F. C
Question: is david hitchcock from the united kingdom or canada
Answer before conversion:  nepalense
Generated text:    The meaning of david is Daud (name).   The binomial authority of david is Heracleum nepalense.   The founder of david is Davidic line.   The spouse of david is Bathsheba.   The before of david is Solomon.

# LC-Quad 2.0

In [27]:
# read csv file
results = pd.read_csv("https://raw.githubusercontent.com/librairy/EQAKG/main/test/LC-QuAD_2.0/results/LC-Quad.csv", header = 0, encoding = "utf-8", sep=";")

# display DataFrame
print(results.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3956 entries, 0 to 3955
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Question                3956 non-null   object
 1   Answer                  3956 non-null   object
 2   Response                3954 non-null   object
 3   Levenshtein Distance    3956 non-null   int64
 4   BLEU Score (SacreBleu)  3956 non-null   float64
 5   BLEU Score (ntlk)       3956 non-null   float64
 6   Meteor Score            3956 non-null   float64
 7   EM Score                3956 non-null   int64
 8   Query Time              3956 non-null   float64
 9   Text Length             3956 non-null   int64
 10  Is Answered             3956 non-null   object
dtypes: float64(4), int64(3), object(4)
memory usage: 340.1+ KB
None

In [28]:
# mean, average, std...
results.describe()

,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length
count,3.956000e+03,3956.000000,3.956000e+03,3956.000000,3956.000000,3956.000000,3956.000000
mean,3.422303e+04,10.878317,1.159770e+01,0.048028,0.096057,163.238617,502.611729
std,5.494481e+05,29.660950,2.959141e+01,0.147353,0.294706,172.881605,250.142415
min,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,3.930000,0.000000
25%,6.000000e+02,0.000000,6.702145e-230,0.000000,0.000000,64.172500,335.000000
50%,1.700000e+03,0.000000,1.931876e-154,0.000000,0.000000,115.215000,494.000000
75%,3.700000e+03,0.000000,2.794691e-76,0.000000,0.000000,216.932500,646.000000
max,2.035120e+07,100.000000,1.000000e+02,0.500000,1.000000,3007.250000,1786.000000

In [29]:
#preguntas cuyo BLEU Score, de SacreBleu, sea 0
results[results['BLEU Score (SacreBleu)'] == 0.0]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
0,What is population of Somalia that is point in time is 2009-0-0 ?,9380854,15893219,700,0.0,7.711524e-153,0.0,0,23.43,404,YES
1,What is population of Clermont-Ferrand that is point in time is 2013-1-1 ?,141463,2415,400,0.0,5.780790e-153,0.0,0,40.15,473,YES
3,Give me mode of transport that contains the word vehicle in their name,"motor vehicle, electric vehicle",truck & bus transportation,2700,0.0,5.278753e-153,0.0,0,95.14,540,YES
4,what is the end time for Jonathan Swift has residence as Whitehaven ?,1671-01-01t00:00:00z,death,1900,0.0,6.065720e-231,0.0,0,106.85,576,YES
5,what is the for work for Danny Elfman has nominated for as Academy Award for Best Original Score ?,"milk, big fish",nicholas volpe,1300,0.0,1.408377e-229,0.0,0,95.63,297,YES
...,...,...,...,...,...,...,...,...,...,...,...
3951,What is MeSH ID of Arctic ?,d001110,idaho,700,0.0,8.166727e-230,0.0,0,260.88,270,YES
3952,What is artistic genre of record producer of Complete Control ?,"reggae, ska, drum and bass, dub music, rocksteady, jungle",punk rock,5000,0.0,2.562537e-01,0.0,0,269.43,217,YES
3953,What is cast member of Doctor Who that is character role is Bill Potts ?,pearl mackie,twelfth doctor,1100,0.0,1.408377e-229,0.0,0,235.41,345,YES
3954,What is the disease for anatomical location of respiratory system,respiratory system benign neoplasm,collapsed,3100,0.0,4.983143e-154,0.0,0,69.64,304,YES
3955,What is World Rugby Hall of Fame ID of Colin Meads ?,3206,601,300,0.0,1.179562e-229,0.0,0,104.75,513,YES

In [30]:
#preguntas cuyo BLEU Score, de ntlk, sea 0
results[results['BLEU Score (ntlk)'] == 0.0]

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
11,What is PIM authority ID of Paul Erdős ?,pim52895,#ddd,800,0.0,0.0,0.0,0,82.51,409,YES
12,What is Minneapolis Institute of Art constituent ID of Johannes Gutenberg ?,12201,bibliography,1200,0.0,0.0,0.0,0,195.98,533,YES
18,What is TDKIV term ID of blog ?,000014546,www. idaho,1000,0.0,0.0,0.0,0,174.64,324,YES
20,What is maximum Strahler number of Loire ?,8,1006000,700,0.0,0.0,0.0,0,242.36,789,YES
36,What is arterial supply of human nose ?,sphenopalatine artery,1,2100,0.0,0.0,0.0,0,98.75,272,YES
...,...,...,...,...,...,...,...,...,...,...,...
3937,What is the headland for deepest point of Bonn,kemper werth,bonn,1200,0.0,0.0,0.0,0,44.64,45,YES
3938,What is uses of Ciliophora that is statement is subject of is aquatic locomotion ?,cilium,taxon,600,0.0,0.0,0.0,0,47.66,744,YES
3940,What is Oireachtas member ID of Seán MacBride ?,"671, seán-macbride.d.1947-10-29",u,3100,0.0,0.0,0.0,0,81.59,195,YES
3943,"What is location of death of Antipater, that has denomination is denomination in ancient Greece ?",macedonia,319,900,0.0,0.0,0.0,0,106.17,700,YES
3948,What is PRS Legislative Research MP ID of Hema Malini ?,"hemamalini, hemamalinirs",4564,2400,0.0,0.0,0.0,0,140.19,619,YES

In [31]:
#preguntas cuya respuesta sea numerica
numbers = results[results['Answer'].str.isnumeric()]
numbers

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
0,What is population of Somalia that is point in time is 2009-0-0 ?,9380854,15893219,700,0.0,7.711524e-153,0.0,0,23.43,404,YES
1,What is population of Clermont-Ferrand that is point in time is 2013-1-1 ?,141463,2415,400,0.0,5.780790e-153,0.0,0,40.15,473,YES
12,What is Minneapolis Institute of Art constituent ID of Johannes Gutenberg ?,12201,bibliography,1200,0.0,0.000000e+00,0.0,0,195.98,533,YES
18,What is TDKIV term ID of blog ?,000014546,www. idaho,1000,0.0,0.000000e+00,0.0,0,174.64,324,YES
20,What is maximum Strahler number of Loire ?,8,1006000,700,0.0,0.000000e+00,0.0,0,242.36,789,YES
...,...,...,...,...,...,...,...,...,...,...,...
3919,What is FOIH taxon ID of Juniperus ?,531,western white pine,1800,0.0,0.000000e+00,0.0,0,69.79,369,YES
3924,What is consumption rate of petroleum ?,85600000,1,800,0.0,0.000000e+00,0.0,0,46.15,269,YES
3927,How many language of work or name are for Flickr ?,9,1,100,0.0,0.000000e+00,0.0,0,132.25,333,YES
3939,what is the quantity for The Carnival of the Animals has instrumentation as double bass ?,1,15,100,0.0,1.531972e-229,0.0,0,54.66,997,YES
3955,What is World Rugby Hall of Fame ID of Colin Meads ?,3206,601,300,0.0,1.179562e-229,0.0,0,104.75,513,YES

In [32]:
correctNumbers = numbers[numbers['BLEU Score (SacreBleu)'] != 0]
correctNumbers

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
73,How many author of foreword are to/by John Lasseter ?,5,5,0,100.0,1.821832e-229,0.5,1,160.02,428,YES
91,what is the numeric value for atomic nucleus has has quality as baryon number ?,1,1,0,100.0,1.821832e-229,0.5,1,81.33,154,YES
159,What is spin quantum number of boson ?,1,1,0,100.0,1.821832e-229,0.5,1,103.18,74,YES
251,How many last words are for Jesus Christ ?,2,2,0,100.0,1.821832e-229,0.5,1,382.64,606,YES
467,What is radix of decimal ?,10,10,0,100.0,1.491668e-152,0.5,1,75.45,240,YES
511,How many country of origin are for ska ?,5,5,0,100.0,1.821832e-229,0.5,1,167.77,358,YES
594,How many judge are for Nuremberg trials ?,8,8,0,100.0,1.821832e-229,0.5,1,363.47,618,YES
1118,How many retirement age are for Australia ?,1,1,0,100.0,1.821832e-229,0.5,1,354.75,1015,YES
1177,What is publication interval of The New York Times ?,1,1,0,100.0,1.821832e-229,0.5,1,97.27,575,YES
1187,How many producer are for Blade Runner ?,4,4,0,100.0,1.821832e-229,0.5,1,212.90,609,YES
1535,What is population of Gyeongju that is point in time is 2012-12-0 ?,264091,264091,0,100.0,1.000000e+02,0.5,1,61.83,472,YES
1677,How many league are for Chelsea F.C. ?,1,1,0,100.0,1.821832e-229,0.5,1,82.25,222,YES
1939,How many part of are for grain ?,1,1,0,100.0,1.821832e-229,0.5,1,91.33,34,YES
2068,How many studied by are for atomic nucleus ?,3,3,0,100.0,1.821832e-229,0.5,1,145.12,92,YES
2323,What is ESPN.com NFL player ID of Kurt Warner ?,1682,1682,0,100.0,1.000000e+02,0.5,1,72.75,585,YES
2631,How many platform are for Metroid ?,9,9,0,100.0,1.821832e-229,0.5,1,150.32,1053,YES
3091,How many numeric value are for pi ?,1,1,0,100.0,1.821832e-229,0.5,1,64.22,417,YES
3434,How many name in native language are for Charles V ?,1,1,0,100.0,1.821832e-229,0.5,1,481.22,363,YES
3479,What is number of spans of Ponte Sant'Angelo ?,5,5,0,100.0,1.821832e-229,0.5,1,179.06,474,YES
3501,What is FINA athlete ID of Ryan Lochte ?,1002615,1002615,0,100.0,1.000000e+02,0.5,1,286.52,686,YES

In [33]:
for counter,i in enumerate(correctNumbers['Question']):
    if counter > 19:
        break

    files = {
        'question': (None, i),
    }

    response = requests.get(queryURL, files = files)
    print("Question:", i)
    print("Answer before conversion: ", (response.json())['answer-2'])
    print("Generated text: ", (response.json())['text'])

Question: How many author of foreword are to/by John Lasseter ?
Answer before conversion:
Generated text:   The residence of John Lasseter is Glen Ellen, California, U. S. .   The children of John Lasseter is 5.   The occupation of John Lasseter is Animator, Animator, film director, screenwriter, producer, voice actor, Film producer.   The successor of John Lasseter is Jennifer Lee (filmmaker), Pete Docter.   The birth place of John Lasseter is Hollywood, Hollywood, California, U. S. .   The award of John Lasseter is Inkpot Award
Question: what is the numeric value for atomic nucleus has has quality as baryon number ?
Answer before conversion:  b of baryon number is b
Generated text:   The known for of atomic nucleus is Frédéric Joliot-Curie, Hans Geiger, Robert Hofstadter.   The p of baryon number is 0.   The b of baryon number is b.
Question: What is spin quantum number of boson ?
Answer before conversion:  g
Generated text:   The p of spin quantum number is −.   The b of spin quantum number is g.
Question: How many last words are for Jesus Christ ?
Answer before conversion:  150, 152
Generated text:    The width of Jesus Christ is 150, 152.   The sign of Jesus Christ is Astrological age.   The ordained by of Jesus Christ is Saint Peter.   The named for of Jesus Christ is Christ College (University of Tasmania), Santo Domingo, Ecuador.   The canonized by of Jesus Christ is Penitent thief.   The saint of Jesus Christ is Castelpagano, Numana, Perloz.   The influenced by of Jesus Christ is Leonard J.  Fick.   The influences of Jesus Christ is Habib the Carpenter, John the Apostle.   The patron of Jesus Christ is Chiesa del Gesù, Alcamo, Gesù Divin Lavoratore, Gesù Divin Maestro alla Pineta Sacchetti
Question: What is radix of decimal ?
Answer before conversion:
Generated text:   The origin of radix is Al Timothy.   The home town of radix is Al Timothy.   The List  of decimal is Billionth, Hundredth, Millionth, Trillionth.   The numeral of decimal is 10.   The known for of decimal is Mike Cowlishaw, Simon Stevin.
Question: How many country of origin are for ska ?
Answer before conversion:
Generated text:  . , SGR (band), SKAMP, SRH Presents: Lose Your Illusions, Vol. C.  5 (album), Yip-Yip, Yo Te Avise, You by Me, Your Song Is Good, Yours Truly (Sublime with Rome album), Yusupha Ngum and the Affia Band, Zarjazz, Zhadan i Sobaky, Ziyoda Qobilova, ¡Ay Caramba! (album), ¡Viva Nueva!, ¡¡Que Corra La Voz‼.   The current production of ska is The Fighting Cocks.
Question: How many judge are for Nuremberg trials ?
Answer before conversion:
Generated text:   The imagesize of Nuremberg trials is 250.   The italic title of Nuremberg trials is no.   The judges of Nuremberg trials is Alexander Volchkov, Francis Biddle, Geoffrey Lawrence, Henri Donnedieu de Vabres, Iona Nikitchenko, John J.  Parker, Norman Birkett, Robert Falco.   The number of judges of Nuremberg trials is 8.   The caption of Nuremberg trials is Judges' panel.   The court of Nuremberg trials is International Military Tribunal.   The subsequent actions of Nuremberg trials is [[#The trial.   The occupation of Nuremberg trials is Evelyn Tucker.   The documentation of Nuremberg trials is Sonderaktion 1005
Question: How many retirement age are for Australia ?
Answer before conversion:
Generated text:    The Relates an entity to the populated place in which it is located.  of Australia is Australian frontier wars, Battle for Australia, Battle of One Tree Hill, Battle of Richmond Hill, Battle of the Coral Sea, Bombing of Darwin, Castle Hill convict rebellion, Townsville mutiny.   The country of Australia is $9. . .  M. B. p.  H.  M
Question: What is publication interval of The New York Times ?
Answer before conversion:  Monday-to-Friday
Generated text:    The circulation date of The New York Times is November 2020.   The image alt of The New York Times is border.   The ISSN of The New York Times is 362.   The owner of The New York Times is Dot Earth.   The opeditor of The New York Times is Kathleen Kingsbury.   The motto of The New York Times is All the News That's Fit to Print.   The caption of The New York Times is Monday-to-Friday circulation.   The oclc of The New York Times is 1645522.   The title of The New York Times is Articles and topics related to The New York Times.   The Staff of The New York Times is 1300
Question: How many producer are for Blade Runner ?
Answer before conversion:  111, 23, 334, 64
Generated text:    The alt of Blade Runner is Collage of a man holding a gun, a woman holding a cigarette, and a futuristic city-scape. .   The language of Blade Runner is English.   The director of Blade Runner is Ridley Scott.   The film director of Blade Runner is Ridley Scott.   The 2p of Blade Runner is 111, 23, 334, 64.   The series of Blade Runner is List of Blade Runner characters.   The known for of Blade Runner is Hampton Fancher, Jordan Cronenweth, Syd Mead.   The title of Blade Runner is How It Should Have Ended, List of Honest Trailers episodes.   The aux of Blade Runner is List of Honest Trailers episodes
Question: What is population of Gyeongju that is point in time is 2012-12-0 ?
Answer before conversion:
Generated text:   The population blank of Gyeongju is Gyeongsang dialect.   The map alt of Gyeongju is A region on an east coast is divided into 23 districts, with the southern coastal district highlighted. .   The population blank1 title of Gyeongju is Dialect.   The blank emblem type of Gyeongju is Emblem of Gyeongju.   The area total km of Gyeongju is 1324. 39.   The parts of Gyeongju is 4.   The population density km of Gyeongju is 212.   The population total of Gyeongju is 264091
Question: How many league are for Chelsea F.C. ?
Answer before conversion:  2–4
Generated text:  C.  season, 2021–22 Tottenham Hotspur F. C.  season, Chelsea F. C.  2–4 Bradford City A. F. C.  (2015), Football League War Cup, Martin Atkinson, Phil Dowd, Umbro International Tournament.   The champion other of Chelsea F
Question: How many part of are for grain ?
Answer before conversion:  symbol of grain
Generated text:    The symbol of grain is Cronus.
Question: How many studied by are for atomic nucleus ?
Answer before conversion:  Frédéric Joliot-Curie, Hans Geiger, Robert Hofstadter
Generated text:   The known for of atomic nucleus is Frédéric Joliot-Curie, Hans Geiger, Robert Hofstadter.
Question: What is ESPN.com NFL player ID of Kurt Warner ?
Answer before conversion:
Generated text:  S.  Route 93 in Montana, Utah State Route 42, Wyoming Highway 22.   The territory of ID is Northwest District of the Lutheran Church–Missouri Synod, Northwest Intermountain Synod (ELCA).   The spoken in of ID is Chinook Jargon, Coeur d'Alene language, Columbia-Moses language, Kutenai language, Nez Perce language, Northern Paiute language, Sahaptin language, Shoshoni language.   The high school of Kurt Warner is Regis.   The pfr of Kurt Warner is W/WarnKu00.   The statvalue of Kurt Warner is 208, 32344, 93. 7.   The height ft of Kurt Warner is 6.   The espn of Kurt Warner is 1682
Question: How many platform are for Metroid ?
Answer before conversion:  Game Boy, Game Boy Advance, GameCube, Nintendo 3DS, Nintendo DS, Nintendo Entertainment System, Nintendo Switch, SNES, Wii
Generated text:   The publisher of Metroid is Nintendo.   The developer of Metroid is , Fuse Games, Intelligent Systems, MercurySteam, Next Level Games, Nintendo EPD, Nintendo R&D1, Nintendo SPD, Nintendo ST, Retro Studios, Team Ninja.   The gr of Metroid is yes.   The creator of Metroid is , Gunpei Yokoi, Hiroji Kiyotake, Satoru Okada, Yoshio Sakamoto.   The game of Metroid is Metroid, Metroid Fusion, Metroid II: Return of Samus, Metroid Prime, Metroid Prime 2: Echoes, Metroid Prime 3: Corruption, Metroid Prime Hunters, Metroid Prime Pinball, Metroid Prime: Federation Force, Metroid Prime: Trilogy, Metroid: Other M, Metroid: Samus Returns, Metroid: Zero Mission, Super Metroid.   The latest release version of Metroid is Metroid: Samus Returns.   The MC of Metroid is -, 58, 64, 79, 85, 89, 90, 91, 92, 97.   The platforms of Metroid is , Game Boy, Game Boy Advance, GameCube, Nintendo 3DS, Nintendo DS, Nintendo Entertainment System, Nintendo Switch, SNES, Wii.   The title of Metroid is Metroid.   The sales of Metroid is 1310000, 1420000, 2730000, 940000, >0
Question: How many numeric value are for pi ?
Answer before conversion:  30K
Generated text:   The quote of pi is Initialize : Iterate : : Then an estimate for  is given by :, The Gauss–Legendre iterative algorithm:.   The image of pi is Buffon needle. svg, Pi 30K. gif.   The qalign of pi is left.   The footer of pi is Monte Carlo methods, based on random trials, can be used to approximate . .   The direction of pi is horizontal.   The caption of pi is Buffon's needle.  Needles a and b are dropped randomly
Question: How many name in native language are for Charles V ?
Answer before conversion:
Generated text:  png, Pieter Bruegel the Elder - The Tower of Babel  - Google Art Project - edited. jpg, Real-time MRI - Speaking . ogv, Spectrogram -iua-. png, Tepantitla mural, Ballplayer A . jpg.   The small of language is yes.   The b of language is y.   The direction of language is vertical.   The v of language is School:Language and Literature.   The wikt of language is 1
Question: What is number of spans of Ponte Sant'Angelo ?
Answer before conversion:
Generated text:    The other name of Ponte Sant'Angelo is Aelius Bridge.   The height (μ) of Ponte Sant'Angelo is 7.   The caption of Ponte Sant'Angelo is Ponte Sant'Angelo, Rome.   The id of Ponte Sant'Angelo is 20000257.   The image size of Ponte Sant'Angelo is 300.   The alt of Ponte Sant'Angelo is Photo of the Ponte Sant'Angelo bridge.   The title of Ponte Sant'Angelo is Ponte Sant'Angelo.   The spans of Ponte Sant'Angelo is 5.   The native name lang of Ponte Sant'Angelo is Latin.
Question: What is FINA athlete ID of Ryan Lochte ?
Answer before conversion:
Generated text:  .   The after of Ryan Lochte is Aaron Peirsol, Darian Townsend, László Cseh, Peter Marshall (swimmer), Ryk Neethling.   The name of Ryan Lochte is Ryan Lochte, no.   The weight (g) of Ryan Lochte is 88452.   The caption of Ryan Lochte is Lochte in 2018.   The new id of Ryan Lochte is 1002615, ryan-lochte.   The alt of Ryan Lochte is Photo is a profile head shot of Ryan Lochte, a white man with sandy brown hair and blue eyes, standing behind a microphone.   The medaltemplates of Ryan Lochte is center|70px    center|40px.   The height of Ryan Lochte is 6.   The before of Ryan Lochte is Chad le Clos, Daiya Seto, Darian Townsend, Ryan Cochrane (swimmer), Sergey Fesikov, Tyler Clary

In [34]:
wrongNumbers = numbers[numbers['BLEU Score (SacreBleu)'] == 0]
wrongNumbers

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
0,What is population of Somalia that is point in time is 2009-0-0 ?,9380854,15893219,700,0.0,7.711524e-153,0.0,0,23.43,404,YES
1,What is population of Clermont-Ferrand that is point in time is 2013-1-1 ?,141463,2415,400,0.0,5.780790e-153,0.0,0,40.15,473,YES
12,What is Minneapolis Institute of Art constituent ID of Johannes Gutenberg ?,12201,bibliography,1200,0.0,0.000000e+00,0.0,0,195.98,533,YES
18,What is TDKIV term ID of blog ?,000014546,www. idaho,1000,0.0,0.000000e+00,0.0,0,174.64,324,YES
20,What is maximum Strahler number of Loire ?,8,1006000,700,0.0,0.000000e+00,0.0,0,242.36,789,YES
...,...,...,...,...,...,...,...,...,...,...,...
3919,What is FOIH taxon ID of Juniperus ?,531,western white pine,1800,0.0,0.000000e+00,0.0,0,69.79,369,YES
3924,What is consumption rate of petroleum ?,85600000,1,800,0.0,0.000000e+00,0.0,0,46.15,269,YES
3927,How many language of work or name are for Flickr ?,9,1,100,0.0,0.000000e+00,0.0,0,132.25,333,YES
3939,what is the quantity for The Carnival of the Animals has instrumentation as double bass ?,1,15,100,0.0,1.531972e-229,0.0,0,54.66,997,YES
3955,What is World Rugby Hall of Fame ID of Colin Meads ?,3206,601,300,0.0,1.179562e-229,0.0,0,104.75,513,YES

In [35]:
for counter,i in enumerate(wrongNumbers['Question']):
    if counter > 19:
        break

    files = {
        'question': (None, i),
    }

    response = requests.get(queryURL, files = files)
    print("Question:", i)
    print("Answer before conversion: ", (response.json())['answer-2'])
    print("Generated text: ", (response.json())['text'])

Question: What is population of Somalia that is point in time is 2009-0-0 ?
Answer before conversion:
Generated text:  31.   The population total of Somalia is 15893219.   The legislature of Somalia is Federal Parliament of Somalia.   The languages of Somalia is , English language, Italian language.   The float of Somalia is right.   The GDP PPP rank of Somalia is N/A.   The established date of Somalia is 1889.   The area km of Somalia is 637657.   The titlebar of Somalia is #ddd.   The currency code of Somalia is SOS
Question: What is population of Clermont-Ferrand that is point in time is 2013-1-1 ?
Answer before conversion:
Generated text:    The image flag of Clermont-Ferrand is File:Flag_of_Clermont-Ferrand. svg.   The arrondissement of Clermont-Ferrand is Blanzat, Chamalières, Cournon-d'Auvergne, Le Crest, Orcines, Pont-du-Château, Pérignat-sur-Allier.   The metro area km of Clermont-Ferrand is 2415.   The location of Clermont-Ferrand is 1965 French Grand Prix, 1969 French Grand Prix, 1970 French Grand Prix, 1972 French Grand Prix, 1999–2000 Arsenal F. C.  season, 2001–02 Paris Saint-Germain F. C. L. C
Question: What is Minneapolis Institute of Art constituent ID of Johannes Gutenberg ?
Answer before conversion:
Generated text:   Ames, A.  G.  Bainbridge, Abdirizak Haji Hussein, Alan Gowans (American football), Albert Hofstede, Alfred L.  Buser, Allan Spear, Ancel Keys, Aneesur Rahman, Anna Cohn, Archie H.  O.  Hansen, Cecil Newman, Charles Alfred Pillsbury, Charles Andrew Willard, Charles Bemies, Charles M.  Loring, Charles Nolte, Charlotte Ouisconsin Clark Van Cleve, Clarissa Walker, Clifford D.  Simak, Clifford D.  Simak bibliography, Colbert Searles, Curt Brasket, Cyrus Northrop, Dave MacMillan, David A.  Secombe, David Joyce (businessman), David P
Question: What is TDKIV term ID of blog ?
Answer before conversion:
Generated text:    The 2010DensityUS of ID is 21. 6.   The area land km of ID is 216400.   The Representative of ID is 1, 2.   The area land (m2) of ID is 216400000000, 83570000000.   The area water (m2) of ID is 2398000000, 926000000.   The Fish of ID is Cutthroat trout.   The Dance of ID is Square dance.   The website of ID is www. idaho
Question: What is maximum Strahler number of Loire ?
Answer before conversion:
Generated text:    The length (μ) of Loire is 1006000.   The map caption of Loire is Map of France with the Loire highlighted.   The name of Loire is Loire.   The tributaries right of Loire is Erdre, Maine (river), Nièvre (river).   The mouth mountain of Loire is Acolin, Allier (river), Arconce, Aron (Loire), Arroux, Besbre, Beuvron (Loire), Cher (river), Cisse (river), Erdre, Furan (river), Indre (river), Layon, Lignon du Forez, Lignon du Velay, Loiret (river), Maine (river), Nièvre (Loire), Sèvre Nantaise, Thouet, Vauvise, Vienne (river), Èvre.   The image caption of Loire is The Loire in Maine-et-Loire.   The subdivision type of Loire is Country.   The mouth elevation (μ) of Loire is 0.   The source1 location of Loire is Ardèche, Sainte-Eulalie, Ardèche.   The mouth of Loire is Atlantic Ocean
Question: what is the burial plot reference for Henrik Ibsen has place of burial as Vår Frelsers gravlund ?
Answer before conversion:
Generated text:    The burial place of Vår Frelsers gravlund is Rasmus Steinsvik.
Question: How many noble title are for Charles the Bald ?
Answer before conversion:  2, 4
Generated text:   The predecessor of Charles is Louis XI.   The mother of Charles is Isabeau of Bavaria.   The parent of Charles is Catherine of France, Countess of Charolais, Charles of Valois, Duke of Berry, Joan of France, Duchess of Bourbon, Louis XI, Magdalena of Valois, Marie de Valois, Radegonde of Valois, Yolande of Valois.   The moretext of Charles is .   The rows of Charles is 2, 4.   The successor of Charles is Charles VI of France, Henry VI of England, John, Duke of Touraine.   The after of Charles is Henry VI of England, John, Duke of Touraine.   The birth place of Charles is Paris, France.   The succession of Charles is King of France.   The name of Charles is Charles VII
Question: How many time-weighted average exposure limit are for arsenic ?
Answer before conversion:
Generated text:   The container only of arsenic is yes.   The p of arsenic is 3.   The b of arsenic is 4.   The products of arsenic is Morro Velho, Temagami-Lorrain Mine.   The medical cause of arsenic is Arsenic poisoning.   The formula of arsenic is Nickeline.   The contaminants of arsenic is Adams Plating, Alabama Army Ammunition Plant, Dorney Road Landfill, Halaco Engineering Co. , Michigan Disposal (Cork Street Landfill).   The risks of arsenic is Basal-cell carcinoma.   The known for of arsenic is David E
Question: How many superhuman feature or ability are for Wonder Woman ?
Answer before conversion:  Earth-Two
Generated text:    The real name of Wonder Woman is Diana Prince.   The qalign of Wonder Woman is left.   The homeworld of Wonder Woman is Themyscira.   The aliases of Wonder Woman is Diana Prince.   The hero of Wonder Woman is y.   The creators of Wonder Woman is , H.  G.  Peter, William Moulton Marston.   The creator (agent) of Wonder Woman is Wonder Woman (Earth-Two).   The sortkey of Wonder Woman is Mamata Banerjee
Question: How many has grammatical person are for French ?
Answer before conversion:
Generated text:   The script of French is French Braille, Latin script.   The agency of French is Académie Française, Office québécois de la langue française.   The glottorefname of French is French.   The n of French is no.   The iso2b of French is fre.   The lingua of French is 51.   The sign of French is , Signed French.   The commons of French is Category:French language.   The region of French is Garrick (name), Hortense, Jacques, Sheri.   The language regulator or academy of French is Académie Française, Office québécois de la langue française
Question: What is exploitation visa number of Grease ?
Answer before conversion:
Generated text:    The music by of Grease is Jim Jacobs, Warren Casey.   The book of Grease is Jim Jacobs, Warren Casey.   The caption of Grease is Original Broadway cast recording.   The id of Grease is 4056.   The title of Grease is Prelude to History.   The lyrics of Grease is Jim Jacobs, Warren Casey.   The before of Grease is Fiddler on the Roof.   The years of Grease is 1979.   The based on of Grease is Grease: Live.
Question: what is the series ordinal for Peter the Great has spouse as Eudoxia Lopukhina ?
Answer before conversion:
Generated text:   The id of ordinal is p/o070180.   The title of ordinal is Ordinal number.   The known for of ordinal is John von Neumann.   The parent of Eudoxia Lopukhina is Alexei Petrovich, Tsarevich of Russia.   The child of Eudoxia Lopukhina is Alexei Petrovich, Tsarevich of Russia.   The spouse of Eudoxia Lopukhina is Peter the Great.
Question: How many depicts are for Primavera ?
Answer before conversion:  14, 42
Generated text:    The folded of Primavera is 2017.   The tv of Primavera is Sportitalia.   The country of Primavera is Italy.   The title of Primavera is Campionato Primavera TIM -, Trofeo "Giacinto Facchetti".   The teams of Primavera is 14, 42.   The continent of Primavera is UEFA.   The league of Primavera is Atalanta B. C.  Youth Sector, Empoli F. C
Question: What is LinkedIn company ID of Nanyang Technological University ?
Answer before conversion:
Generated text:    The affiliations of Nanyang Technological University is Temasek Life Sciences Laboratory.   The city of Nanyang Technological University is Jurong West.   The name of Nanyang Technological University is Nanyang Technological University, Singapore.   The endowment of Nanyang Technological University is S$2. 3 billion.   The President of Nanyang Technological University is Subra Suresh.   The president of Nanyang Technological University is Subra Suresh.   The administrative staff of Nanyang Technological University is 6608.   The chancellor of Nanyang Technological University is Halimah Yacob.   The former names of Nanyang Technological University is Nanyang Technological Institute
Question: What is award received of Henry Dunant and prize money
Answer before conversion:
Generated text:    The footer of Henry Dunant is The busts of Moynier  and Dunant in the foyer of the ICRC HQ in Geneva, looking past each other.   The death place of Henry Dunant is Heiden, Switzerland.   The birth name of Henry Dunant is Jean-Henri Dunant.   The nationality of Henry Dunant is Swiss, Switzerland.   The known for of Henry Dunant is Founder of the Red Cross, International Red Cross and Red Crescent Movement.   The awards of Henry Dunant is Nobel Peace Prize.   The native name lang of Henry Dunant is fr.   The founded by of Henry Dunant is French Red Cross.
Question: what is the series ordinal for Helmut Kohl has given name as Michael ?
Answer before conversion:
Generated text:    The name of Helmut Kohl is Helmut Kohl.   The death place of Helmut Kohl is Ludwigshafen, Germany, Ludwigshafen/Frankenthal, Rhineland-Palatinate, Weimar Republic.   The 1namedata of Helmut Kohl is Friedrich Zimmermann.   The child of Helmut Kohl is Peter Kohl, Walter Kohl.   The alma mater of Helmut Kohl is Heidelberg University.   The birth name of Helmut Kohl is Helmut Josef Michael Kohl.   The caption of Helmut Kohl is Kohl in 1996.   The term end of Helmut Kohl is 1969.   The title of Helmut Kohl is Chair of the CDU/CSU Parliamentary Group, Chair of the Group of 7, Chancellor of Germany, Chancellor of West Germany, Helmut Kohl navigational boxes, Leader of the Christian Democratic Union, List of Ministers-President of Rhineland-Palatinate.   The signature of Helmut Kohl is Helmut Kohl Signature
Question: How many connects with are for Trans-Siberian railway ?
Answer before conversion:
Generated text:   The location of Trans-Siberian railway is Russia.   The native name of Trans-Siberian railway is Транссибирская магистраль.   The type of Trans-Siberian railway is , Commuter rail, Freight rail, Rail freight transport, Regional rail.   The end of Trans-Siberian railway is Vladivostok railway station.   The map state of Trans-Siberian railway is collapsed.   The topic of Trans-Siberian railway is on RT Documentary Official YouTube Channel.   The line length (μ) of Trans-Siberian railway is 9289000.   The locale of Trans-Siberian railway is Russia.   The operator of Trans-Siberian railway is Russian Railways.   The is part of of Trans-Siberian railway is East Siberian Railway, Far Eastern Railway, Krasnoyarsk Railway, Sverdlovsk Railway, Trans–Baikal Railway, West Siberian Railway
Question: How many member of political party are for Mátyás Rákosi ?
Answer before conversion:
Generated text:    The party of Mátyás Rákosi is Hungarian Communist Party, Hungarian Socialist Workers' Party, Hungarian Working People's Party, MDP, MKP, MSZDP, MSZMP, Social Democratic Party of Hungary.   The prime minister of Mátyás Rákosi is Ferenc Nagy.   The order of Mátyás Rákosi is , 43, Deputy Prime Minister, First Secretary of the Hungarian Working People's Party, General Secretary of the Hungarian Communist Party, Member of the High National Council.   The birth place of Mátyás Rákosi is Ada, Serbia, Austria-Hungary.   The successor of Mátyás Rákosi is István Dobi, József Révai.   The after of Mátyás Rákosi is István Dobi.   The allegiance of Mátyás Rákosi is Hungarian Soviet Republic.   The name of Mátyás Rákosi is Mátyás Rákosi.   The battle of Mátyás Rákosi is Eastern Front (World War I), Revolutions and interventions in Hungary (1918–1920), World War I.   The rank of Mátyás Rákosi is Commander of the Red Guard
Question: How many student of are for Caspar David Friedrich ?
Answer before conversion:
Generated text:    The nationality of Caspar David Friedrich is German.   The width of Caspar David Friedrich is 210.
Question: How many mountain range are to/by Sayan Mountains ?
Answer before conversion:  source1
Generated text:    The source1 location of Sayan Mountains is Oka (Angara).

In [36]:
#preguntas cuya respuesta sea booleana
booleans = results[(results['Response'] == "true") | (results['Response'] == "false")]
booleans

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
24,Does the time-weighted average exposure limit of the cobalt equals 0.1,true,true,0,100.0,1.000000e+02,0.5,1,216.68,445,YES
37,Does the quantity buried of the Brazilian Military Cemetery of Pistoia equals 369.6,false,true,400,0.0,1.003274e-229,0.0,0,56.15,455,YES
51,Does the torque of the BMW M20B20 equals 160,true,true,0,100.0,1.000000e+02,0.5,1,48.14,377,YES
55,Did Paul VI work location Rome and Munich ?,false,true,400,0.0,1.003274e-229,0.0,0,409.15,276,YES
63,Does the temperature of the cosmic microwave background radiation equals 2.72548,true,true,0,100.0,1.000000e+02,0.5,1,241.52,721,YES
...,...,...,...,...,...,...,...,...,...,...,...
3882,Does the ultimate tensile strength of the Alloy 718 equals 1240,true,true,0,100.0,1.000000e+02,0.5,1,197.16,809,YES
3890,Does the retirement age of the Belgium equals 67,true,true,0,100.0,1.000000e+02,0.5,1,355.28,334,YES
3902,Does the UTC timezone offset of the Korea Standard Time equals 9,true,true,0,100.0,1.000000e+02,0.5,1,161.59,558,YES
3918,Does the boiling point of the fluorine equals -307,true,true,0,100.0,1.000000e+02,0.5,1,49.39,180,YES
3935,Did George_IV_of_the_United_Kingdom sibling Edward VIII and Prince Alfred of Great Britain ?,false,true,400,0.0,1.003274e-229,0.0,0,31.62,502,YES

In [37]:
correctBooleans = booleans[booleans['BLEU Score (SacreBleu)'] != 0]
correctBooleans

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
24,Does the time-weighted average exposure limit of the cobalt equals 0.1,true,true,0,100.0,100.0,0.5,1,216.68,445,YES
51,Does the torque of the BMW M20B20 equals 160,true,true,0,100.0,100.0,0.5,1,48.14,377,YES
63,Does the temperature of the cosmic microwave background radiation equals 2.72548,true,true,0,100.0,100.0,0.5,1,241.52,721,YES
98,Does the vehicles per thousand people of the Dubai equals 540,true,true,0,100.0,100.0,0.5,1,83.25,216,YES
113,Did Chuck_Berry instrument Fender Stratocaster and Gibson ES-335 ?,true,true,0,100.0,100.0,0.5,1,51.40,430,YES
...,...,...,...,...,...,...,...,...,...,...,...
3878,Does the water footprint of the chicken equals 4325,true,true,0,100.0,100.0,0.5,1,25.43,670,YES
3882,Does the ultimate tensile strength of the Alloy 718 equals 1240,true,true,0,100.0,100.0,0.5,1,197.16,809,YES
3890,Does the retirement age of the Belgium equals 67,true,true,0,100.0,100.0,0.5,1,355.28,334,YES
3902,Does the UTC timezone offset of the Korea Standard Time equals 9,true,true,0,100.0,100.0,0.5,1,161.59,558,YES
3918,Does the boiling point of the fluorine equals -307,true,true,0,100.0,100.0,0.5,1,49.39,180,YES

In [38]:
for counter,i in enumerate(correctBooleans['Question']):
    if counter > 19:
        break

    files = {
        'question': (None, i),
    }

    response = requests.get(queryURL, files = files)
    print("Question:", i)
    print("Answer before conversion: ", (response.json())['answer-2'])
    print("Generated text: ", (response.json())['text'])

Question: Does the time-weighted average exposure limit of the cobalt equals 0.1
Answer before conversion:  The container only of cobalt is yes
Generated text:   The container only of cobalt is yes.   The product of cobalt is China Molybdenum, Compass Resources, Equinox Minerals, Eurasian Natural Resources Corporation, Mopani Copper Mines, Nordic Mining, Norilsk Nickel, Sherritt International, Sibplaz, Vale Limited, Zhejiang Huayou Cobalt.   The caption of cobalt is Cobalt poisoning.   The known for of cobalt is Georg Brandt, Richard Grenfell Thomas.   The record label of cobalt is Isaias Matiaba.
Question: Does the torque of the BMW M20B20 equals 160
Answer before conversion:  The logo size of BMW is 180
Generated text:    The logo of BMW is BMW. svg.   The num employees of BMW is 133778.   The industry of BMW is Automotive industry.   The titlestyle of BMW is background:#A4D8ED;.   The logo size of BMW is 180.   The name of BMW is Bayerische Motoren Werke AG.   The assets of BMW is billion.   The direction of BMW is vertical.   The image caption of BMW is BMW Headquarters in Munich, Germany
Question: Does the temperature of the cosmic microwave background radiation equals 2.72548
Answer before conversion:  The date of radiation is March 2020
Generated text:    The mission type of cosmic microwave background is Cosmic Background Explorer, Wilkinson Microwave Anisotropy Probe.   The date of radiation is March 2020.   The reason of radiation is The text does not mention the diagram.  The caveats should probably be listed in a note using Template:Efn.   The academic discipline of radiation is Linda Walsh, Stephen L.  Fowler, Subrahmanyan Chandrasekhar.   The type of radiation is Kosmos 10, Kosmos 13, Kosmos 15, Kosmos 17, Kosmos 18, Kosmos 53, Kosmos 7, Kosmos 70, Kosmos 9.   The medical cause of radiation is Blister, Burn, Neoplasm.   The fields of radiation is Linda Walsh.   The treatment of radiation is Anaplastic oligodendroglioma, Mucosal melanoma, Pheochromocytoma
Question: Does the vehicles per thousand people of the Dubai equals 540
Answer before conversion:  The width of Dubai is 150, 200, 240, 265
Generated text:  9.   The Mar high C of Dubai is 28. 9.   The May precipitation mm of Dubai is 0. 4.   The Oct record high C of Dubai is 42. 4.   The Sep precipitation days of Dubai is 0. 1.   The width of Dubai is 150, 200, 240, 265
Question: Did Chuck_Berry instrument Fender Stratocaster and Gibson ES-335 ?
Answer before conversion:  Buddy Holly
Generated text:    The date of Stratocaster is June 2018.   The pickups of Stratocaster is Most commonly three single-coils .  Other pickup configurations are also available. .   The bridge of Stratocaster is Most commonly proprietary six-screw ‘tremolo’.  Other bridge configurations are available. .   The image of Stratocaster is Buddy Holly's Fender Stratocaster, Buddy Holly Center, Lubbock, TX. jpg, Yngwie_Malmsteen%27s_electric_guitar. jpg
Question: Does the speed of the MV Explorer equals 12.5
Answer before conversion:  Zero
Generated text:    The musicType of MV is Zero kara Hajimete.
Question: Does the luminosity of the Alpha Andromedae less than 240.0
Answer before conversion:  −24. 0
Generated text:    The epoch of Alpha Andromedae is 2000, J2000. 0.   The prop mo dec of Alpha Andromedae is −162. 95, −24. 0.   The node of Alpha Andromedae is 284. 4.   The periarg of Alpha Andromedae is 257. 4.   The angdistsec of Alpha Andromedae is 89
Question: Does the number of platform tracks of the Danube equals 1
Answer before conversion:  39
Generated text:   of Danube is Byzantine–Hungarian War (1127–1129), German and Sarmatian campaigns of Constantine, Marcomannic Wars.   The part of of Danube is Perućac lake.   The short name of Danube is HC Dunărea Brăila.   The non-fiction subject of Danube is Das Nibelungenlied: Ein Heldenepos in 39 Abenteuern.   The venue of Danube is 1933 European Rowing Championships.   The inflow of Danube is Black Sea, Silver Lake (Serbia), Veliki Galijaš.   The river system of Danube is Debantbach, Hachinger Bach, Miljacka.   The outflow of Danube is Lake Bugeac, Silver Lake (Serbia), Veliki Galijaš.   The spoken in of Danube is Bulgar language.
Question: Does the earthquake magnitude on the Richter magnitude scale of the 1995 Marathon earthquake equals 5.7
Answer before conversion:  August 2021
Generated text:   The by of earthquake is no.   The about of earthquake is yes.   The onlinebooksabout of earthquake is yes.   The label of earthquake is Earthquakes.   The lcheading of earthquake is earthquakes.   The academic discipline of earthquake is Deng Qidong, Peter Langdon Ward.   The fields of earthquake is Deng Qidong.   The known for of earthquake is John J.  Clague.   The date of magnitude is August 2021
Question: Does the oxidation state of the phosphorus equals 3
Answer before conversion:  phosphorus
Generated text:   The product of phosphorus is PCC SE, Rhodia (company).   The Ship namesake of phosphorus is HMS Phosphorus (1804).   The known for of phosphorus is Charles Sauria.
Question: Did Chennai twinned administrative body Chongqing and Ulsan ?
Answer before conversion:  China
Generated text:  R.  Educational and Research Institute, Indian Maritime University, Rajalakshmi Institute of Technology, Rajalakshmi School of Architecture.   The home town of Chennai is Arkut Kannabhiran, Blaaze, Blood Covenant (band), Charulatha Mani, Darshana KT, Dheena Chandra Dhas, Diabolus Arcanium, Gopika Poornima, Harris Jayaraj, Janani Bharadwaj, Joseph Vijay (guitarist), K (composer), Karthik (singer), Lavanya Sundararaman, M.  M.  Manasi, Machas with Attitude, Madras Musical Association, Maharajapuram Viswanatha Iyer, Mallikarjun, Master Dhanraj, Nagai Muralidharan, Nerverek, Nirmala Rajasekar, Padmavathy Ananthagopalan, R.  Suryaprakash, Ramesh Shotham, Rusty Moe, Sabesh–Murali, Sangita Santosham, Sanjay Subrahmanyan, Sathyan (singer), Shankar–Ganesh, Shilpa Natarajan, Sirkazhi G.  Sivachidambaram, The Casteless Collective, The LBG, V.  Kumar, Vidya Subramanian, Vivek–Mervin.   The parent company of Chennai is VA Tech Wabag.   The route end of Chennai is Anna Salai, Armenian Street, Chennai, Broadway, Chennai, China Bazaar Road, Chennai, EVR Periyar Salai, Mint Street, Chennai, National Highway 16 (India), National Highway 4 (India, old numbering), National Highway 48 (India), Old Jail Road, Chennai, Pallavaram–Kundrathur–Poonamallee Road, Sardar Patel Road, Chennai
Question: Did Seoul contains administrative territorial entity Jongno District and Gangbuk District ?
Answer before conversion:  Gangnam District
Generated text:    The image caption of Seoul is From top, left to right: Skyline from Inwangsan, Deoksugung, Gangnam District, skyline at night, Gyeongdong Market, Cheonggyecheon, Gyeongbokgung Palace. .   The links of Seoul is no.   The motto of Seoul is "I  &bull;  Seoul  &bull;  U".   The blank2 info of Seoul is Forsythia.   The blank3 name of Seoul is Font.   The anthem of Seoul is "S. E. O. U
Question: Did The_Chainsmokers country of origin United States of America?
Answer before conversion:  Tennessee
Generated text:   Holloway Jr.  United States Courthouse, William Jasper Monument, William Joseph McInnes Botanic Garden and Campus Arboretum, William M.  Cashin House, William Martin Armistead House, William O.  Douglas Wilderness, William Peccole Park, William R.  Snodgrass Tennessee Tower, William Sidney Porter House, William Tanner House Museum, William W.  K.  Taylor, World Series of Fighting 22: Palhares vs.  Shields, World Series of Fighting 24: Fitch vs.  Okami, World Series of Fighting 25: Lightweight Tournament, World Series of Fighting 26: Palmer vs.  Almeida, World Series of Fighting 27: Firmino vs
Question: Does the admission rate of the University of British Columbia greater than 0.4192
Answer before conversion:  The HDI of British Columbia is 0. 9379999999999999
Generated text:   The Viceroy of British Columbia is Janet Austin.   The iso code of British Columbia is CA-BC.   The Label map of British Columbia is yes.   The area total km of British Columbia is 944735.   The population total of British Columbia is 4648055.   The AdmittanceOrder of British Columbia is 7.   The HDI of British Columbia is 0. 9379999999999999.   The legislature of British Columbia is Legislative Assembly of British Columbia.   The area rank of British Columbia is 5
Question: Does the maximum Strahler number of the Kipps Run equals 2
Answer before conversion:  5310
Generated text:   The first of Strahler number is Arthur Newell, Robert E. .   The last of Strahler number is Horton, Strahler.   The year of Strahler number is 1945, 1952, 1957.   The authorlink of Strahler number is Arthur Newell Strahler, Robert E.  Horton.   The tributaries left of Kipps Run is Wilson Run (Kipps Run tributary).   The mouth location of Kipps Run is Susquehanna River at Riverside, Pennsylvania.   The name other of Kipps Run is Kipp's Run.   The length (μ) of Kipps Run is 5310
Question: Does the maximum capacity of the Maschinengewehrkraftwagen equals 2
Answer before conversion:  The height (μ) of maximum capacity is 1
Generated text:   The residence of maximum capacity is Orlando, Florida.   The birth place of maximum capacity is Newark, New Jersey, Newark, New Jersey, United States.   The trainer of maximum capacity is Billy Fives, Flex Magnum, Rusty Brooks.   The name of maximum capacity is Maximum Capacity.   The resides of maximum capacity is Orlando, Florida.   The billed of maximum capacity is Dania Beach, Florida.   The death place of maximum capacity is Sunrise, Florida, Sunrise, Florida U. S. .   The height (μ) of maximum capacity is 1
Question: Does the net tonnage of the Maggie Lee equals 8
Answer before conversion:  The width of Lee is 105, 110, 150, 175, 180, 200, 205, 210, 220, 235
Generated text:    The alt of Lee is R.  E.  Lee, Jefferson Davis, Stonewall Jackson.  Stone Mountain Issue of 1970, Robert E.  Lee stamp, Liberty Issue of 1955, Robert E.  Lee, Stonewall Jackson and Stratford Hall, Army Issue of 1936, Washington and Lee University Issue of 1948.   The title of Lee is Articles related to Robert E.  Lee, Offices and distinctions.   The placeofburial of Lee is Lee Chapel, Washington and Lee University.   The width of Lee is 105, 110, 150, 175, 180, 200, 205, 210, 220, 235
Question: Does the number of blank votes of the Rio Grande municipal election, 2016 for Councillor equals 7170
Answer before conversion:  The outflow of Rio Grande is Amistad Reservoir, Elephant Butte Reservoir, Falcon International Reservoir
Generated text:    The outflow of Rio Grande is Amistad Reservoir, Elephant Butte Reservoir, Falcon International Reservoir.   The river system of Rio Grande is Alamosa Creek, Santa Cruz River (New Mexico).   The abode of Rio Grande is Awanyu.
Question: Did San_Diego owner of SDCCU Stadium and California State Route 209 ?
Answer before conversion:  The location of California State Route 209 is San Diego
Generated text:  S.  Roma season, 2018–19 Tottenham Hotspur F. C.   The ground of SDCCU Stadium is Old Mission Beach Athletic Club RFC.   The site stadium of SDCCU Stadium is 2017 Mountain West Conference football season, 2018 American Athletic Conference football season, 2018 Mid-American Conference football season, 2018 Mountain West Conference football season, 2018 Pac-12 Conference football season, 2019 Mountain West Conference football season.   The city of SDCCU Stadium is San Diego Fleet.   The before of SDCCU Stadium is Dignity Health Sports Park, NRG Stadium.   The location of California State Route 209 is San Diego.   The deleted of California State Route 209 is 2003.   The state of California State Route 209 is CA
Question: Does the specific age inside fictional universe of the Dr. Lanyon equals 50
Answer before conversion:  fictional universe is Literary Wonderlands.
Generated text:   The non-fiction subject of fictional universe is Literary Wonderlands.

In [39]:
wrongBooleans = booleans[booleans['BLEU Score (SacreBleu)'] != 0]
wrongBooleans

,Question,Answer,Response,Levenshtein Distance,BLEU Score (SacreBleu),BLEU Score (ntlk),Meteor Score,EM Score,Query Time,Text Length,Is Answered
24,Does the time-weighted average exposure limit of the cobalt equals 0.1,true,true,0,100.0,100.0,0.5,1,216.68,445,YES
51,Does the torque of the BMW M20B20 equals 160,true,true,0,100.0,100.0,0.5,1,48.14,377,YES
63,Does the temperature of the cosmic microwave background radiation equals 2.72548,true,true,0,100.0,100.0,0.5,1,241.52,721,YES
98,Does the vehicles per thousand people of the Dubai equals 540,true,true,0,100.0,100.0,0.5,1,83.25,216,YES
113,Did Chuck_Berry instrument Fender Stratocaster and Gibson ES-335 ?,true,true,0,100.0,100.0,0.5,1,51.40,430,YES
...,...,...,...,...,...,...,...,...,...,...,...
3878,Does the water footprint of the chicken equals 4325,true,true,0,100.0,100.0,0.5,1,25.43,670,YES
3882,Does the ultimate tensile strength of the Alloy 718 equals 1240,true,true,0,100.0,100.0,0.5,1,197.16,809,YES
3890,Does the retirement age of the Belgium equals 67,true,true,0,100.0,100.0,0.5,1,355.28,334,YES
3902,Does the UTC timezone offset of the Korea Standard Time equals 9,true,true,0,100.0,100.0,0.5,1,161.59,558,YES
3918,Does the boiling point of the fluorine equals -307,true,true,0,100.0,100.0,0.5,1,49.39,180,YES

In [40]:
for counter,i in enumerate(wrongBooleans['Question']):
    if counter > 19:
        break

    files = {
        'question': (None, i),
    }

    response = requests.get(queryURL, files = files)
    print("Question:", i)
    print("Answer before conversion: ", (response.json())['answer-2'])
    print("Generated text: ", (response.json())['text'])

Question: Does the time-weighted average exposure limit of the cobalt equals 0.1
Answer before conversion:  The container only of cobalt is yes
Generated text:   The container only of cobalt is yes.   The product of cobalt is China Molybdenum, Compass Resources, Equinox Minerals, Eurasian Natural Resources Corporation, Mopani Copper Mines, Nordic Mining, Norilsk Nickel, Sherritt International, Sibplaz, Vale Limited, Zhejiang Huayou Cobalt.   The caption of cobalt is Cobalt poisoning.   The known for of cobalt is Georg Brandt, Richard Grenfell Thomas.   The record label of cobalt is Isaias Matiaba.
Question: Does the torque of the BMW M20B20 equals 160
Answer before conversion:  The logo size of BMW is 180
Generated text:    The logo of BMW is BMW. svg.   The num employees of BMW is 133778.   The industry of BMW is Automotive industry.   The titlestyle of BMW is background:#A4D8ED;.   The logo size of BMW is 180.   The name of BMW is Bayerische Motoren Werke AG.   The assets of BMW is billion.   The direction of BMW is vertical.   The image caption of BMW is BMW Headquarters in Munich, Germany
Question: Does the temperature of the cosmic microwave background radiation equals 2.72548
Answer before conversion:  The date of radiation is March 2020
Generated text:    The mission type of cosmic microwave background is Cosmic Background Explorer, Wilkinson Microwave Anisotropy Probe.   The date of radiation is March 2020.   The reason of radiation is The text does not mention the diagram.  The caveats should probably be listed in a note using Template:Efn.   The academic discipline of radiation is Linda Walsh, Stephen L.  Fowler, Subrahmanyan Chandrasekhar.   The type of radiation is Kosmos 10, Kosmos 13, Kosmos 15, Kosmos 17, Kosmos 18, Kosmos 53, Kosmos 7, Kosmos 70, Kosmos 9.   The medical cause of radiation is Blister, Burn, Neoplasm.   The fields of radiation is Linda Walsh.   The treatment of radiation is Anaplastic oligodendroglioma, Mucosal melanoma, Pheochromocytoma
Question: Does the vehicles per thousand people of the Dubai equals 540
Answer before conversion:  The width of Dubai is 150, 200, 240, 265
Generated text:  9.   The Mar high C of Dubai is 28. 9.   The May precipitation mm of Dubai is 0. 4.   The Oct record high C of Dubai is 42. 4.   The Sep precipitation days of Dubai is 0. 1.   The width of Dubai is 150, 200, 240, 265
Question: Did Chuck_Berry instrument Fender Stratocaster and Gibson ES-335 ?
Answer before conversion:  Buddy Holly
Generated text:    The date of Stratocaster is June 2018.   The pickups of Stratocaster is Most commonly three single-coils .  Other pickup configurations are also available. .   The bridge of Stratocaster is Most commonly proprietary six-screw ‘tremolo’.  Other bridge configurations are available. .   The image of Stratocaster is Buddy Holly's Fender Stratocaster, Buddy Holly Center, Lubbock, TX. jpg, Yngwie_Malmsteen%27s_electric_guitar. jpg
Question: Does the speed of the MV Explorer equals 12.5
Answer before conversion:  Zero
Generated text:    The musicType of MV is Zero kara Hajimete.
Question: Does the luminosity of the Alpha Andromedae less than 240.0
Answer before conversion:  −24. 0
Generated text:    The epoch of Alpha Andromedae is 2000, J2000. 0.   The prop mo dec of Alpha Andromedae is −162. 95, −24. 0.   The node of Alpha Andromedae is 284. 4.   The periarg of Alpha Andromedae is 257. 4.   The angdistsec of Alpha Andromedae is 89
Question: Does the number of platform tracks of the Danube equals 1
Answer before conversion:  39
Generated text:   of Danube is Byzantine–Hungarian War (1127–1129), German and Sarmatian campaigns of Constantine, Marcomannic Wars.   The part of of Danube is Perućac lake.   The short name of Danube is HC Dunărea Brăila.   The non-fiction subject of Danube is Das Nibelungenlied: Ein Heldenepos in 39 Abenteuern.   The venue of Danube is 1933 European Rowing Championships.   The inflow of Danube is Black Sea, Silver Lake (Serbia), Veliki Galijaš.   The river system of Danube is Debantbach, Hachinger Bach, Miljacka.   The outflow of Danube is Lake Bugeac, Silver Lake (Serbia), Veliki Galijaš.   The spoken in of Danube is Bulgar language.
Question: Does the earthquake magnitude on the Richter magnitude scale of the 1995 Marathon earthquake equals 5.7
Answer before conversion:  August 2021
Generated text:   The by of earthquake is no.   The about of earthquake is yes.   The onlinebooksabout of earthquake is yes.   The label of earthquake is Earthquakes.   The lcheading of earthquake is earthquakes.   The academic discipline of earthquake is Deng Qidong, Peter Langdon Ward.   The fields of earthquake is Deng Qidong.   The known for of earthquake is John J.  Clague.   The date of magnitude is August 2021
Question: Does the oxidation state of the phosphorus equals 3
Answer before conversion:  phosphorus
Generated text:   The product of phosphorus is PCC SE, Rhodia (company).   The Ship namesake of phosphorus is HMS Phosphorus (1804).   The known for of phosphorus is Charles Sauria.
Question: Did Chennai twinned administrative body Chongqing and Ulsan ?
Answer before conversion:  China
Generated text:  R.  Educational and Research Institute, Indian Maritime University, Rajalakshmi Institute of Technology, Rajalakshmi School of Architecture.   The home town of Chennai is Arkut Kannabhiran, Blaaze, Blood Covenant (band), Charulatha Mani, Darshana KT, Dheena Chandra Dhas, Diabolus Arcanium, Gopika Poornima, Harris Jayaraj, Janani Bharadwaj, Joseph Vijay (guitarist), K (composer), Karthik (singer), Lavanya Sundararaman, M.  M.  Manasi, Machas with Attitude, Madras Musical Association, Maharajapuram Viswanatha Iyer, Mallikarjun, Master Dhanraj, Nagai Muralidharan, Nerverek, Nirmala Rajasekar, Padmavathy Ananthagopalan, R.  Suryaprakash, Ramesh Shotham, Rusty Moe, Sabesh–Murali, Sangita Santosham, Sanjay Subrahmanyan, Sathyan (singer), Shankar–Ganesh, Shilpa Natarajan, Sirkazhi G.  Sivachidambaram, The Casteless Collective, The LBG, V.  Kumar, Vidya Subramanian, Vivek–Mervin.   The parent company of Chennai is VA Tech Wabag.   The route end of Chennai is Anna Salai, Armenian Street, Chennai, Broadway, Chennai, China Bazaar Road, Chennai, EVR Periyar Salai, Mint Street, Chennai, National Highway 16 (India), National Highway 4 (India, old numbering), National Highway 48 (India), Old Jail Road, Chennai, Pallavaram–Kundrathur–Poonamallee Road, Sardar Patel Road, Chennai
Question: Did Seoul contains administrative territorial entity Jongno District and Gangbuk District ?
Answer before conversion:  Gangnam District
Generated text:    The image caption of Seoul is From top, left to right: Skyline from Inwangsan, Deoksugung, Gangnam District, skyline at night, Gyeongdong Market, Cheonggyecheon, Gyeongbokgung Palace. .   The links of Seoul is no.   The motto of Seoul is "I  &bull;  Seoul  &bull;  U".   The blank2 info of Seoul is Forsythia.   The blank3 name of Seoul is Font.   The anthem of Seoul is "S. E. O. U
Question: Did The_Chainsmokers country of origin United States of America?
Answer before conversion:  Tennessee
Generated text:   Holloway Jr.  United States Courthouse, William Jasper Monument, William Joseph McInnes Botanic Garden and Campus Arboretum, William M.  Cashin House, William Martin Armistead House, William O.  Douglas Wilderness, William Peccole Park, William R.  Snodgrass Tennessee Tower, William Sidney Porter House, William Tanner House Museum, William W.  K.  Taylor, World Series of Fighting 22: Palhares vs.  Shields, World Series of Fighting 24: Fitch vs.  Okami, World Series of Fighting 25: Lightweight Tournament, World Series of Fighting 26: Palmer vs.  Almeida, World Series of Fighting 27: Firmino vs
Question: Does the admission rate of the University of British Columbia greater than 0.4192
Answer before conversion:  The HDI of British Columbia is 0. 9379999999999999
Generated text:   The Viceroy of British Columbia is Janet Austin.   The iso code of British Columbia is CA-BC.   The Label map of British Columbia is yes.   The area total km of British Columbia is 944735.   The population total of British Columbia is 4648055.   The AdmittanceOrder of British Columbia is 7.   The HDI of British Columbia is 0. 9379999999999999.   The legislature of British Columbia is Legislative Assembly of British Columbia.   The area rank of British Columbia is 5
Question: Does the maximum Strahler number of the Kipps Run equals 2
Answer before conversion:  5310
Generated text:   The first of Strahler number is Arthur Newell, Robert E. .   The last of Strahler number is Horton, Strahler.   The year of Strahler number is 1945, 1952, 1957.   The authorlink of Strahler number is Arthur Newell Strahler, Robert E.  Horton.   The tributaries left of Kipps Run is Wilson Run (Kipps Run tributary).   The mouth location of Kipps Run is Susquehanna River at Riverside, Pennsylvania.   The name other of Kipps Run is Kipp's Run.   The length (μ) of Kipps Run is 5310
Question: Does the maximum capacity of the Maschinengewehrkraftwagen equals 2
Answer before conversion:  The height (μ) of maximum capacity is 1
Generated text:   The residence of maximum capacity is Orlando, Florida.   The birth place of maximum capacity is Newark, New Jersey, Newark, New Jersey, United States.   The trainer of maximum capacity is Billy Fives, Flex Magnum, Rusty Brooks.   The name of maximum capacity is Maximum Capacity.   The resides of maximum capacity is Orlando, Florida.   The billed of maximum capacity is Dania Beach, Florida.   The death place of maximum capacity is Sunrise, Florida, Sunrise, Florida U. S. .   The height (μ) of maximum capacity is 1
Question: Does the net tonnage of the Maggie Lee equals 8
Answer before conversion:  The width of Lee is 105, 110, 150, 175, 180, 200, 205, 210, 220, 235
Generated text:    The alt of Lee is R.  E.  Lee, Jefferson Davis, Stonewall Jackson.  Stone Mountain Issue of 1970, Robert E.  Lee stamp, Liberty Issue of 1955, Robert E.  Lee, Stonewall Jackson and Stratford Hall, Army Issue of 1936, Washington and Lee University Issue of 1948.   The title of Lee is Articles related to Robert E.  Lee, Offices and distinctions.   The placeofburial of Lee is Lee Chapel, Washington and Lee University.   The width of Lee is 105, 110, 150, 175, 180, 200, 205, 210, 220, 235
Question: Does the number of blank votes of the Rio Grande municipal election, 2016 for Councillor equals 7170
Answer before conversion:  The outflow of Rio Grande is Amistad Reservoir, Elephant Butte Reservoir, Falcon International Reservoir
Generated text:    The outflow of Rio Grande is Amistad Reservoir, Elephant Butte Reservoir, Falcon International Reservoir.   The river system of Rio Grande is Alamosa Creek, Santa Cruz River (New Mexico).   The abode of Rio Grande is Awanyu.
Question: Did San_Diego owner of SDCCU Stadium and California State Route 209 ?
Answer before conversion:  The location of California State Route 209 is San Diego
Generated text:  S.  Roma season, 2018–19 Tottenham Hotspur F. C.   The ground of SDCCU Stadium is Old Mission Beach Athletic Club RFC.   The site stadium of SDCCU Stadium is 2017 Mountain West Conference football season, 2018 American Athletic Conference football season, 2018 Mid-American Conference football season, 2018 Mountain West Conference football season, 2018 Pac-12 Conference football season, 2019 Mountain West Conference football season.   The city of SDCCU Stadium is San Diego Fleet.   The before of SDCCU Stadium is Dignity Health Sports Park, NRG Stadium.   The location of California State Route 209 is San Diego.   The deleted of California State Route 209 is 2003.   The state of California State Route 209 is CA
Question: Does the specific age inside fictional universe of the Dr. Lanyon equals 50
Answer before conversion:  fictional universe is Literary Wonderlands.
Generated text:   The non-fiction subject of fictional universe is Literary Wonderlands.

# Test Code

In [41]:
"""
!pip install spacy
!python -m spacy download en_core_web_sm
!pip install spacy-entity-linker
"""

'\n!pip install spacy\n!python -m spacy download en_core_web_sm\n!pip install spacy-entity-linker\n'

In [42]:
"""
!python -m spacy_entity_linker "download_knowledge_base"
"""

'\n!python -m spacy_entity_linker "download_knowledge_base"\n'

In [43]:
"""
import spacy  # version 3.0.6'

# initialize language model
nlp = spacy.load("en_core_web_sm")

# add pipeline (declared through entry_points in setup.py)
nlp.add_pipe("entityLinker", last=True)

doc = nlp("I watched the Pirates of the Caribbean last silvester")

# returns all entities in the whole document
all_linked_entities = doc._.linkedEntities
# iterates over sentences and prints linked entities
for sent in doc.sents:
    sent._.linkedEntities.pretty_print()
"""

'\nimport spacy  # version 3.0.6\'\n\n# initialize language model\nnlp = spacy.load("en_core_web_sm")\n\n# add pipeline (declared through entry_points in setup.py)\nnlp.add_pipe("entityLinker", last=True)\n\ndoc = nlp("I watched the Pirates of the Caribbean last silvester")\n\n# returns all entities in the whole document\nall_linked_entities = doc._.linkedEntities\n# iterates over sentences and prints linked entities\nfor sent in doc.sents:\n    sent._.linkedEntities.pretty_print()\n'